In [1]:
import pandas as pd

In [2]:
sr = pd.Series([60,81,100,73,50,66])
print(sr)

0     60
1     81
2    100
3     73
4     50
5     66
dtype: int64

In [3]:
indexs = sr.index
print(indexs)

values = sr.values
print(values)

RangeIndex(start=0, stop=6, step=1)
[ 60  81 100  73  50  66]

In [4]:
sr = pd.Series([60,90,55,70,30,None],index =["Sofia","Jack","Peter","Dan","Rita","Steven"])
print(sr)

Sofia     60.0
Jack      90.0
Peter     55.0
Dan       70.0
Rita      30.0
Steven     NaN
dtype: float64

In [5]:
index = sr.index
print("抓取名子",index)

抓取名子 Index(['Sofia', 'Jack', 'Peter', 'Dan', 'Rita', 'Steven'], dtype='object')

In [6]:
result = sr[sr>=60]
print("及格名單")
print(result)

及格名單
Sofia    60.0
Jack     90.0
Dan      70.0
dtype: float64

In [7]:
results = sr + 10
print("加分結果")
print(results)

results = sr - 10
print("扣分結果")
print(results)

results = sr * 1.1
print("乘10%結果")
print(results)

results = sr / 2
print("除2結果")
print(results)

加分結果
Sofia      70.0
Jack      100.0
Peter      65.0
Dan        80.0
Rita       40.0
Steven      NaN
dtype: float64
扣分結果
Sofia     50.0
Jack      80.0
Peter     45.0
Dan       60.0
Rita      20.0
Steven     NaN
dtype: float64
乘10%結果
Sofia     66.0
Jack      99.0
Peter     60.5
Dan       77.0
Rita      33.0
Steven     NaN
dtype: float64
除2結果
Sofia     30.0
Jack      45.0
Peter     27.5
Dan       35.0
Rita      15.0
Steven     NaN
dtype: float64

In [8]:
if "Sofia"  in sr:
    print("Sofia存在")
if "Sofia" not in sr:
    print("Sofia不存在")

Sofia存在

In [9]:
print("判斷誰有空值")
isNull = pd.isnull(sr)
print(isNull)

print("判斷誰沒有空值")
isNotNull = pd.notnull(sr)
print(isNotNull)

isNull = sr.isnull()
print(isNull)

判斷誰有空值
Sofia     False
Jack      False
Peter     False
Dan       False
Rita      False
Steven     True
dtype: bool
判斷誰沒有空值
Sofia      True
Jack       True
Peter      True
Dan        True
Rita       True
Steven    False
dtype: bool
Sofia     False
Jack      False
Peter     False
Dan       False
Rita      False
Steven     True
dtype: bool

In [10]:
sr2 = pd.Series([49,80],index = ["Grace","Kity"])
sr3 = pd.Series([30,95],index = ["Grace","Kity"])

sr4 = sr2 + sr3
print(sr4)

sr4 = sr2 - sr3
print(sr4)

sr4 = sr2 * sr3
print(sr4)

sr4 = sr2 / sr3
print(sr4)

Grace     79
Kity     175
dtype: int64
Grace    19
Kity    -15
dtype: int64
Grace    1470
Kity     7600
dtype: int64
Grace    1.633333
Kity     0.842105
dtype: float64

In [11]:
sr.name = " 分數"
sr.index.name ="姓名"
print("設定名稱後的sr:")
print(sr)

設定名稱後的sr:
姓名
Sofia     60.0
Jack      90.0
Peter     55.0
Dan       70.0
Rita      30.0
Steven     NaN
Name:  分數, dtype: float64

In [12]:
print("Rita與Steven的分數:")
print(sr.loc[["Rita","Steven"]])
print()

Rita與Steven的分數:
姓名
Rita      30.0
Steven     NaN
Name:  分數, dtype: float64

In [13]:
print("第一筆和第三筆的資料:")
print(sr.iloc[[0,2]])

第一筆和第三筆的資料:
姓名
Sofia    60.0
Peter    55.0
Name:  分數, dtype: float64

In [14]:
print("第一筆到第四筆:")
print(sr.iloc[1:5])#range原理

第一筆到第四筆:
姓名
Jack     90.0
Peter    55.0
Dan      70.0
Rita     30.0
Name:  分數, dtype: float64

In [15]:
def grade(score):

    if pd.isnull(score):
        return "缺考"
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    elif score >= 60:
        return "D"
    elif score < 60:
        return "F"
results = sr.map(grade)
print(results)

results = sr.map(lambda score : "及格" if score >= 60    else "不及格")
print(results)

姓名
Sofia      D
Jack       A
Peter      F
Dan        C
Rita       F
Steven    缺考
Name:  分數, dtype: object
姓名
Sofia      及格
Jack       及格
Peter     不及格
Dan        及格
Rita      不及格
Steven    不及格
Name:  分數, dtype: object

In [16]:
results = sr.apply(lambda x:100 if (x*1.1+5)>100 else x*1.3+5)
print(results)

姓名
Sofia      83.0
Jack      100.0
Peter      76.5
Dan        96.0
Rita       44.0
Steven      NaN
Name:  分數, dtype: float64

In [17]:
#統計方式
print("描述性統計")
print(sr.describe())

描述性統計
count     5.000000
mean     61.000000
std      21.908902
min      30.000000
25%      55.000000
50%      60.000000
75%      70.000000
max      90.000000
Name:  分數, dtype: float64

In [18]:
print("依照分數排序(遞增)")
print(sr.sort_values())
print()

print("依照人名排序(遞增)")
print(sr.sort_index())
print()

print("重新設定索引")
print(sr.reset_index())
print()

依照分數排序(遞增)
姓名
Rita      30.0
Peter     55.0
Sofia     60.0
Dan       70.0
Jack      90.0
Steven     NaN
Name:  分數, dtype: float64

依照人名排序(遞增)
姓名
Dan       70.0
Jack      90.0
Peter     55.0
Rita      30.0
Sofia     60.0
Steven     NaN
Name:  分數, dtype: float64

重新設定索引
       姓名    分數
0   Sofia  60.0
1    Jack  90.0
2   Peter  55.0
3     Dan  70.0
4    Rita  30.0
5  Steven   NaN

In [19]:
#去除空值
results = sr.dropna()
print(results)

姓名
Sofia    60.0
Jack     90.0
Peter    55.0
Dan      70.0
Rita     30.0
Name:  分數, dtype: float64

In [20]:
#轉型態

results = sr.dropna().astype(int)
print(results)

results = sr.dropna().astype(str)
print(results)

results = sr.dropna().astype(int).astype(str)
print(results)

姓名
Sofia    60
Jack     90
Peter    55
Dan      70
Rita     30
Name:  分數, dtype: int64
姓名
Sofia    60.0
Jack     90.0
Peter    55.0
Dan      70.0
Rita     30.0
Name:  分數, dtype: object
姓名
Sofia    60
Jack     90
Peter    55
Dan      70
Rita     30
Name:  分數, dtype: object

In [21]:
#新增與修改

print(sr)

sr['Sofia'] = 90
sr['Peter'] = 73

print(sr)

sr2 = pd.Series([8,58,73],index = ["Sofia","Jack","Steven"])#建立新sr2
print(sr2)

results = pd.concat([sr,sr2])

print(results)

姓名
Sofia     60.0
Jack      90.0
Peter     55.0
Dan       70.0
Rita      30.0
Steven     NaN
Name:  分數, dtype: float64
姓名
Sofia     90.0
Jack      90.0
Peter     73.0
Dan       70.0
Rita      30.0
Steven     NaN
Name:  分數, dtype: float64
Sofia      8
Jack      58
Steven    73
dtype: int64
Sofia     90.0
Jack      90.0
Peter     73.0
Dan       70.0
Rita      30.0
Steven     NaN
Sofia      8.0
Jack      58.0
Steven    73.0
dtype: float64

In [22]:
#groupby 

sr2 =  pd.Series([8,58,73],index = ["Sofia","Jack","Steven"])
sr3 = pd.concat([sr,sr2])
sr3 = sr3.dropna()

print(sr3.sort_values())
print(sr3.index)
results = sr3.groupby(sr3.index).mean()
print("重複索引資料以平均聚合")
print(results)

results = sr3.groupby(sr3.index).sum().astype(int)
print("重複索引資料以加總聚合")
print(results)

Sofia      8.0
Rita      30.0
Jack      58.0
Dan       70.0
Peter     73.0
Steven    73.0
Sofia     90.0
Jack      90.0
dtype: float64
Index(['Sofia', 'Jack', 'Peter', 'Dan', 'Rita', 'Sofia', 'Jack', 'Steven'], dtype='object')
重複索引資料以平均聚合
Dan       70.0
Jack      74.0
Peter     73.0
Rita      30.0
Sofia     49.0
Steven    73.0
dtype: float64
重複索引資料以加總聚合
Dan        70
Jack      148
Peter      73
Rita       30
Sofia      98
Steven     73
dtype: int64

In [23]:
score_data = pd.Series([60,81,100,73,50,None],index = ["小明","小花","麗麗","博明","詩涵","俊雅"])
print(score_data)

#1
print(1)
print(score_data.iloc[1:4])

#2
print(2)
print(score_data.map(lambda score :  "及格" if score >=60 else "不及格"  ))

#3
print(3)
print(score_data.apply(lambda x : 100 if x*1.1 +5 >=100 else x*1.1 +5))

#4

score_data2 = pd.Series([80],index = ["小林"])
print(4)
print(pd.concat([score_data,score_data2]))

#5
print(5)
score_data_1 = pd.Series([60, 81, 100, 73, 50, None], index=['小明', '小花', '麗麗', '博明', '師函', '俊雅'])
score_data_2 = pd.Series([88, 80, 89, 68], index=['小明', '師函', '博明', '麗麗']) 

results = pd.concat([score_data_1,score_data_2])
results = results.dropna() 

print(results)

print(results.groupby(results.index).sum().astype(int))

小明     60.0
小花     81.0
麗麗    100.0
博明     73.0
詩涵     50.0
俊雅      NaN
dtype: float64
1
小花     81.0
麗麗    100.0
博明     73.0
dtype: float64
2
小明     及格
小花     及格
麗麗     及格
博明     及格
詩涵    不及格
俊雅    不及格
dtype: object
3
小明     71.0
小花     94.1
麗麗    100.0
博明     85.3
詩涵     60.0
俊雅      NaN
dtype: float64
4
小明     60.0
小花     81.0
麗麗    100.0
博明     73.0
詩涵     50.0
俊雅      NaN
小林     80.0
dtype: float64
5
小明     60.0
小花     81.0
麗麗    100.0
博明     73.0
師函     50.0
小明     88.0
師函     80.0
博明     89.0
麗麗     68.0
dtype: float64
博明    162
小明    148
小花     81
師函    130
麗麗    168
dtype: int64

In [24]:
data = {
        'Customer':  ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Gina', 'Helen', 'Ivan', 'Julia','Kevin', 'Laura', 'Mike', 'Nina', 'Oscar', 'Pam', 'Quentin', 'Rachel', 'Steve', 'Tina'],
        'Gender': ['Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female','Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
        'Age': [25, 30, 22, 45, 28, 35, 32, 29, 40, 27, 33, 24, 50, 31, 38, 26, 41, 23, 37, 34],
        'Country':  ['USA', 'Taiwan', 'Japan', 'USA', 'Japan', 'Taiwan', 'USA', 'Japan', 'Taiwan', 'USA','Canada', 'UK', 'Germany', 'France', 'Italy', 'Spain', 'Australia', 'Brazil', 'India', 'Mexico'],
        'Purchase': [250.0, None, 300.5, 100.0, 450.0, None, 99.9, 600.3, 180.0, 300.0,350.0, 400.0, None, 220.0, 500.0, 330.0, 275.0, None, 410.0, 290.0],
        'RegistrationDate':  ['2022-01-15', '2021-11-30', '2022-05-20', '2020-07-10', '2021-03-25','2022-09-12', '2020-12-01', '2021-06-18', '2022-02-28', '2021-08-05','2020-05-15', '2021-10-22', '2022-03-19', '2020-08-30', '2021-12-12','2022-07-07', '2020-11-11', '2021-04-04', '2022-06-16', '2020-09-09'],
        'MembershipLevel': ['Gold', 'Regular', 'Platinum', 'Regular', 'Gold', 'Regular', 'Platinum', 'Gold', 'Regular', 'Platinum','Gold', 'Regular', 'Platinum', 'Regular', 'Gold', 'Regular', 'Platinum', 'Gold', 'Regular', 'Platinum']
    }
#建立 DataFrame
df = pd.DataFrame(data , index=[ i for i in range(20)])

print(df)

df.head(10)

   Customer  Gender  Age    Country  Purchase RegistrationDate MembershipLevel
0     Alice  Female   25        USA     250.0       2022-01-15            Gold
1       Bob    Male   30     Taiwan       NaN       2021-11-30         Regular
2   Charlie    Male   22      Japan     300.5       2022-05-20        Platinum
3     David    Male   45        USA     100.0       2020-07-10         Regular
4       Eva  Female   28      Japan     450.0       2021-03-25            Gold
5     Frank    Male   35     Taiwan       NaN       2022-09-12         Regular
6      Gina  Female   32        USA      99.9       2020-12-01        Platinum
7     Helen  Female   29      Japan     600.3       2021-06-18            Gold
8      Ivan    Male   40     Taiwan     180.0       2022-02-28         Regular
9     Julia  Female   27        USA     300.0       2021-08-05        Platinum
10    Kevin    Male   33     Canada     350.0       2020-05-15            Gold
11    Laura  Female   24         UK     400.0       2021-10-22         Regular
12     Mike    Male   50    Germany       NaN       2022-03-19        Platinum
13     Nina  Female   31     France     220.0       2020-08-30         Regular
14    Oscar    Male   38      Italy     500.0       2021-12-12            Gold
15      Pam  Female   26      Spain     330.0       2022-07-07         Regular
16  Quentin    Male   41  Australia     275.0       2020-11-11        Platinum
17   Rachel  Female   23     Brazil       NaN       2021-04-04            Gold
18    Steve    Male   37      India     410.0       2022-06-16         Regular
19     Tina  Female   34     Mexico     290.0       2020-09-09        Platinum

  Customer  Gender  Age Country  Purchase RegistrationDate MembershipLevel
0    Alice  Female   25     USA     250.0       2022-01-15            Gold
1      Bob    Male   30  Taiwan       NaN       2021-11-30         Regular
2  Charlie    Male   22   Japan     300.5       2022-05-20        Platinum
3    David    Male   45     USA     100.0       2020-07-10         Regular
4      Eva  Female   28   Japan     450.0       2021-03-25            Gold
5    Frank    Male   35  Taiwan       NaN       2022-09-12         Regular
6     Gina  Female   32     USA      99.9       2020-12-01        Platinum
7    Helen  Female   29   Japan     600.3       2021-06-18            Gold
8     Ivan    Male   40  Taiwan     180.0       2022-02-28         Regular
9    Julia  Female   27     USA     300.0       2021-08-05        Platinum

In [25]:
#匯入df資料

df = pd.read_csv('L5.csv', encoding='utf-8-sig')

#pd.read_excel

print(df)

df.head()

         客戶 性別  年齡   國家   購買金額        註冊日期 會員等級
0      客戶_1  男  20   美國    NaN  2020-01-01   金卡
1      客戶_2  女  21   台灣  103.0  2020-01-02   普通
2      客戶_3  男  22   日本  106.0  2020-01-03   白金
3      客戶_4  女  23  加拿大  109.0  2020-01-04   金卡
4      客戶_5  男  24   英國  112.0  2020-01-05   普通
..      ... ..  ..  ...    ...         ...  ...
195  客戶_196  女  65   美國  685.0  2020-07-14   金卡
196  客戶_197  男  66   台灣  688.0  2020-07-15   普通
197  客戶_198  女  67   日本  691.0  2020-07-16   白金
198  客戶_199  男  68  加拿大  694.0  2020-07-17   金卡
199  客戶_200  女  69   英國  697.0  2020-07-18   普通

[200 rows x 7 columns]

     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級
0  客戶_1  男  20   美國    NaN  2020-01-01   金卡
1  客戶_2  女  21   台灣  103.0  2020-01-02   普通
2  客戶_3  男  22   日本  106.0  2020-01-03   白金
3  客戶_4  女  23  加拿大  109.0  2020-01-04   金卡
4  客戶_5  男  24   英國  112.0  2020-01-05   普通

In [26]:
index = df.index
colums = df.columns

print(index)
print(colums)

#取col資料

results = df['性別']
print(results)

RangeIndex(start=0, stop=200, step=1)
Index(['客戶', '性別', '年齡', '國家', '購買金額', '註冊日期', '會員等級'], dtype='object')
0      男
1      女
2      男
3      女
4      男
      ..
195    女
196    男
197    女
198    男
199    女
Name: 性別, Length: 200, dtype: object

In [27]:
#loc與iloc再取row

results = df.iloc[0:5]

results.head(100)

     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級
0  客戶_1  男  20   美國    NaN  2020-01-01   金卡
1  客戶_2  女  21   台灣  103.0  2020-01-02   普通
2  客戶_3  男  22   日本  106.0  2020-01-03   白金
3  客戶_4  女  23  加拿大  109.0  2020-01-04   金卡
4  客戶_5  男  24   英國  112.0  2020-01-05   普通

In [28]:
#取部分獲完整loc colums

results = df.loc[:,"註冊日期"]

print(results.head(100))

results = df.loc[0:2,["客戶","購買金額"]]

print((results).head)

0     2020-01-01
1     2020-01-02
2     2020-01-03
3     2020-01-04
4     2020-01-05
         ...
95    2020-04-05
96    2020-04-06
97    2020-04-07
98    2020-04-08
99    2020-04-09
Name: 註冊日期, Length: 100, dtype: object
<bound method NDFrame.head of      客戶   購買金額
0  客戶_1    NaN
1  客戶_2  103.0
2  客戶_3  106.0>

In [29]:
#取部分獲完整iloc colums

results = df.iloc[:,2]

print(results.head())

results = df.iloc[0:2,2]

print(results.head())

results = df.iloc[[1,5],2:4]

print(results.head())

0    20
1    21
2    22
3    23
4    24
Name: 年齡, dtype: int64
0    20
1    21
Name: 年齡, dtype: int64
   年齡  國家
1  21  台灣
5  25  美國

In [30]:
df["備註"] = "新客戶"

df.head()

     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註
0  客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶
1  客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶
2  客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶
3  客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶
4  客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶

In [31]:
sr_phone = pd.Series(['0912345678','0975839024','0956124879','0987456123','0968321457','0923658741','0945236987','0978012345','0901765432','0932887112','0953745890','0910112358','0986874233','0944010029','0902758694','0939487556','0963045299','0976921447','0921385023','0952478360','0917435892','0908983734','0979105673','0983609421','0964309836','0911748236','0942675981','0904239084','0934881772','0965342917','0972504281','0951934085','0903837501','0925067812','0941743669','0931296038','0962109333','0914827540','0977850291','0906444915','0982175006','0949867132','0936538960','0928101723','0950689284','0969470377','0971357998','0988604215','0905267143','0926711509','0930448321','0940187629','0954024975','0960330861','0915983046','0907762113','0970213087','0938394505','0924688740','0980550991','0937509214','0909198374','0927832451','0916084208','0943471088','0973690850','0961132768','0959073416','0984210685','0935974102','0929124879','0913901634','0958342281','0981677914','0948019327','0933233094','0900563824','0957289478','0966145602','0919520380','0905316750','0947480065','0920687193','0974094325','0902345920','0989650831','0931027395','0952504116','0946703284','0967157048','0975820611','0908302854','0923215734','0930768142','0911987620','0950347028','0925961367','0963678542','0944884953','0912045803','0978264097','0932580327','0903129948','0968950870','0983789204','0907395801','0941682504','0917760218','0939342095','0953607782','0965843003','0906150241','0921430689','0976548137','0982721368','0910243791','0936093485','0951307914','0942985060','0969813702','0934654508','0901175439','0972860109','0987083520','0928709631','0945934826','0914301957','0954762185','0962497203','0904379850','0938045613','0988621490','0949305871','0915236740','0924472501','0959068102','0971587934','0937652048','0960798142','0980291704','0916473280','0926347815','0940705123','0958189426','0935957683','0984014562','0909234879','0970805341','0964721923','0913167509','0900804263','0943015698','0927658240','0974481720','0910782934','0931475289','0956271348','0962987145','0925809123','0909471620','0938205796','0986103257','0902687913','0957439812','0945728901','0923487190','0979845620','0916574381','0960482157','0937820491','0956278910','0901842759','0981795632','0973059284','0920716345','0912034589','0934098271','0967251348','0942067395','0908791432','0978140593','0950287391','0923807456','0914705263','0938609741','0963148720','0981037465','0949758203','0901529837','0956087249','0973280456','0915784623','0932785190','0960842753','0929057134','0983057281','0942184709','0903048571','0972051836','0951746230'])

df["電話"] = sr_phone
df.head()

     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話
0  客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶  0912345678
1  客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶  0975839024
2  客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879
3  客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123
4  客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457

In [32]:

df["VIP"] = df["會員等級"] == "白金"

df["新客群"] = df["年齡"] <= 20

df.head()

     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話    VIP    新客群
0  客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶  0912345678  False   True
1  客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶  0975839024  False  False
2  客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879   True  False
3  客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123  False  False
4  客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457  False  False

In [33]:
del df ["新客群"]
del df ["VIP"]
df.head()

     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話
0  客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶  0912345678
1  客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶  0975839024
2  客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879
3  客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123
4  客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457

In [34]:
df.index.name = "流水號"

df.columns.name = "欄位"

df.head()

欄位     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話
流水號
0    客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶  0912345678
1    客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶  0975839024
2    客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879
3    客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123
4    客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457

In [35]:
#設定 index

df.set_index('客戶',inplace = True)

df.head()

欄位   性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話
客戶
客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶  0912345678
客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶  0975839024
客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879
客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123
客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457

In [36]:
#重設 index

df.reset_index(inplace=True)

df.head()

欄位    客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話
0   客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶  0912345678
1   客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶  0975839024
2   客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879
3   客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123
4   客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457

In [37]:
#重做索引

df.index = pd.Series([ f"第{i+1}筆" for i in range(200)])

df.head()

欄位     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話
第1筆  客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶  0912345678
第2筆  客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶  0975839024
第3筆  客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879
第4筆  客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123
第5筆  客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457

In [38]:
results = df.reindex([ f"第{i+ 1}筆" for i in range(205)])
results.iloc[195:206].head(100)

欄位         客戶   性別    年齡   國家   購買金額        註冊日期 會員等級   備註          電話
第196筆  客戶_196    女  65.0   美國  685.0  2020-07-14   金卡  新客戶  0983057281
第197筆  客戶_197    男  66.0   台灣  688.0  2020-07-15   普通  新客戶  0942184709
第198筆  客戶_198    女  67.0   日本  691.0  2020-07-16   白金  新客戶  0903048571
第199筆  客戶_199    男  68.0  加拿大  694.0  2020-07-17   金卡  新客戶  0972051836
第200筆  客戶_200    女  69.0   英國  697.0  2020-07-18   普通  新客戶  0951746230
第201筆     NaN  NaN   NaN  NaN    NaN         NaN  NaN  NaN         NaN
第202筆     NaN  NaN   NaN  NaN    NaN         NaN  NaN  NaN         NaN
第203筆     NaN  NaN   NaN  NaN    NaN         NaN  NaN  NaN         NaN
第204筆     NaN  NaN   NaN  NaN    NaN         NaN  NaN  NaN         NaN
第205筆     NaN  NaN   NaN  NaN    NaN         NaN  NaN  NaN         NaN

In [39]:
df.reset_index( drop=True ,inplace=True) #drop 刪除原本 index欄位 # inplace = True 覆蓋原本 df

df.head(10)

#df = reset_index( drop=True) #原生寫法
#df.head(10)

欄位     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話
0    客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶  0912345678
1    客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶  0975839024
2    客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879
3    客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123
4    客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457
5    客戶_6  女  25   美國  115.0  2020-01-06   白金  新客戶  0923658741
6    客戶_7  男  26   台灣  118.0  2020-01-07   金卡  新客戶  0945236987
7    客戶_8  女  27   日本  121.0  2020-01-08   普通  新客戶  0978012345
8    客戶_9  男  28  加拿大  124.0  2020-01-09   白金  新客戶  0901765432
9   客戶_10  女  29   英國  127.0  2020-01-10   金卡  新客戶  0932887112

In [40]:
results = df.drop(5)
results.head(10)

欄位     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話
0    客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶  0912345678
1    客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶  0975839024
2    客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879
3    客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123
4    客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457
6    客戶_7  男  26   台灣  118.0  2020-01-07   金卡  新客戶  0945236987
7    客戶_8  女  27   日本  121.0  2020-01-08   普通  新客戶  0978012345
8    客戶_9  男  28  加拿大  124.0  2020-01-09   白金  新客戶  0901765432
9   客戶_10  女  29   英國  127.0  2020-01-10   金卡  新客戶  0932887112
10  客戶_11  男  30   美國    NaN  2020-01-11   普通  新客戶  0953745890

In [41]:
#drop 刪除指定 index 資料
results = df.drop([5,9])
results.head(10)

欄位     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話
0    客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶  0912345678
1    客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶  0975839024
2    客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879
3    客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123
4    客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457
6    客戶_7  男  26   台灣  118.0  2020-01-07   金卡  新客戶  0945236987
7    客戶_8  女  27   日本  121.0  2020-01-08   普通  新客戶  0978012345
8    客戶_9  男  28  加拿大  124.0  2020-01-09   白金  新客戶  0901765432
10  客戶_11  男  30   美國    NaN  2020-01-11   普通  新客戶  0953745890
11  客戶_12  女  31   台灣  133.0  2020-01-12   白金  新客戶  0910112358

In [42]:
#drop 刪除指定 colums 資料

results = df.drop(["國家","註冊日期"], axis = "columns")

results.head(10)

欄位     客戶 性別  年齡   購買金額 會員等級   備註          電話
0    客戶_1  男  20    NaN   金卡  新客戶  0912345678
1    客戶_2  女  21  103.0   普通  新客戶  0975839024
2    客戶_3  男  22  106.0   白金  新客戶  0956124879
3    客戶_4  女  23  109.0   金卡  新客戶  0987456123
4    客戶_5  男  24  112.0   普通  新客戶  0968321457
5    客戶_6  女  25  115.0   白金  新客戶  0923658741
6    客戶_7  男  26  118.0   金卡  新客戶  0945236987
7    客戶_8  女  27  121.0   普通  新客戶  0978012345
8    客戶_9  男  28  124.0   白金  新客戶  0901765432
9   客戶_10  女  29  127.0   金卡  新客戶  0932887112

In [43]:
#results = df["客戶"]
#results.head(10)
results = df[["客戶","國家","會員等級"]] #挑我要的欄位 SQL SELECT
results.head(10)

欄位     客戶   國家 會員等級
0    客戶_1   美國   金卡
1    客戶_2   台灣   普通
2    客戶_3   日本   白金
3    客戶_4  加拿大   金卡
4    客戶_5   英國   普通
5    客戶_6   美國   白金
6    客戶_7   台灣   金卡
7    客戶_8   日本   普通
8    客戶_9  加拿大   白金
9   客戶_10   英國   金卡

In [44]:
#results = df.loc [2:4,["客戶","購買金額"]]
#results.head(10)

results = df[2:5]
results.head(10)

欄位    客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話
2   客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879
3   客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123
4   客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457

In [45]:
df["年齡"] <= 20
'''
0       True
1      False
2      False
3      False
4      False
       ...  
195    False
196    False
197    False
198    False
199    False
'''

results =df[df["年齡"] <= 20] #SQL WHERE
results.head(20)

欄位       客戶 性別  年齡  國家  購買金額        註冊日期 會員等級   備註          電話
0      客戶_1  男  20  美國   NaN  2020-01-01   金卡  新客戶  0912345678
50    客戶_51  男  20  美國   NaN  2020-02-20   白金  新客戶  0930448321
100  客戶_101  男  20  美國   NaN  2020-04-10   普通  新客戶  0978264097
150  客戶_151  男  20  美國   NaN  2020-05-30   金卡  新客戶  0900804263

In [46]:
results =df[df["會員等級"] == "白金"]
results.head(10)

欄位     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話
2    客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879
5    客戶_6  女  25   美國  115.0  2020-01-06   白金  新客戶  0923658741
8    客戶_9  男  28  加拿大  124.0  2020-01-09   白金  新客戶  0901765432
11  客戶_12  女  31   台灣  133.0  2020-01-12   白金  新客戶  0910112358
14  客戶_15  男  34   英國  142.0  2020-01-15   白金  新客戶  0902758694
17  客戶_18  女  37   日本  151.0  2020-01-18   白金  新客戶  0976921447
20  客戶_21  男  40   美國    NaN  2020-01-21   白金  新客戶  0917435892
23  客戶_24  女  43  加拿大  169.0  2020-01-24   白金  新客戶  0983609421
26  客戶_27  男  46   台灣  178.0  2020-01-27   白金  新客戶  0942675981
29  客戶_30  女  49   英國  187.0  2020-01-30   白金  新客戶  0965342917

In [47]:
# and 進階查詢

results = df[(df["會員等級"] == "白金") & (df["購買金額"] >= 300)]
results.head(10)

欄位     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話
68  客戶_69  男  38  加拿大  304.0  2020-03-09   白金  新客戶  0984210685
71  客戶_72  女  41   台灣  313.0  2020-03-12   白金  新客戶  0913901634
74  客戶_75  男  44   英國  322.0  2020-03-15   白金  新客戶  0948019327
77  客戶_78  女  47   日本  331.0  2020-03-18   白金  新客戶  0957289478
83  客戶_84  女  53  加拿大  349.0  2020-03-24   白金  新客戶  0974094325
86  客戶_87  男  56   台灣  358.0  2020-03-27   白金  新客戶  0931027395
89  客戶_90  女  59   英國  367.0  2020-03-30   白金  新客戶  0967157048
92  客戶_93  男  62   日本  376.0  2020-04-02   白金  新客戶  0923215734
95  客戶_96  女  65   美國  385.0  2020-04-05   白金  新客戶  0950347028
98  客戶_99  男  68  加拿大  394.0  2020-04-08   白金  新客戶  0944884953

In [48]:
# or 進階查詢

results = df[(df["國家"] == "台灣") | (df["國家"] == "日本")]
results.head(10)

欄位     客戶 性別  年齡  國家   購買金額        註冊日期 會員等級   備註          電話
1    客戶_2  女  21  台灣  103.0  2020-01-02   普通  新客戶  0975839024
2    客戶_3  男  22  日本  106.0  2020-01-03   白金  新客戶  0956124879
6    客戶_7  男  26  台灣  118.0  2020-01-07   金卡  新客戶  0945236987
7    客戶_8  女  27  日本  121.0  2020-01-08   普通  新客戶  0978012345
11  客戶_12  女  31  台灣  133.0  2020-01-12   白金  新客戶  0910112358
12  客戶_13  男  32  日本  136.0  2020-01-13   金卡  新客戶  0986874233
16  客戶_17  男  36  台灣  148.0  2020-01-17   普通  新客戶  0963045299
17  客戶_18  女  37  日本  151.0  2020-01-18   白金  新客戶  0976921447
21  客戶_22  女  41  台灣  163.0  2020-01-22   金卡  新客戶  0908983734
22  客戶_23  男  42  日本  166.0  2020-01-23   普通  新客戶  0979105673

In [49]:
# 針對 row 的加工
def classify_age(data):
    #print(data)
    if data["購買金額"] > 300 and data["會員等級"] == "白金":
        return True
    else:
        return False
df['VIP'] = df.apply(classify_age,axis = 1)
#df.head(10)
df[df['VIP'] == True].head(10)

欄位     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話   VIP
68  客戶_69  男  38  加拿大  304.0  2020-03-09   白金  新客戶  0984210685  True
71  客戶_72  女  41   台灣  313.0  2020-03-12   白金  新客戶  0913901634  True
74  客戶_75  男  44   英國  322.0  2020-03-15   白金  新客戶  0948019327  True
77  客戶_78  女  47   日本  331.0  2020-03-18   白金  新客戶  0957289478  True
83  客戶_84  女  53  加拿大  349.0  2020-03-24   白金  新客戶  0974094325  True
86  客戶_87  男  56   台灣  358.0  2020-03-27   白金  新客戶  0931027395  True
89  客戶_90  女  59   英國  367.0  2020-03-30   白金  新客戶  0967157048  True
92  客戶_93  男  62   日本  376.0  2020-04-02   白金  新客戶  0923215734  True
95  客戶_96  女  65   美國  385.0  2020-04-05   白金  新客戶  0950347028  True
98  客戶_99  男  68  加拿大  394.0  2020-04-08   白金  新客戶  0944884953  True

In [50]:
# 針對 row 的加工
df['VIP'] = df.apply(lambda row : "超級VIP" if (row["購買金額"] > 300 and row["會員等級"] == "白金") else" 普通VIP" ,axis = 1)
df[df['VIP'] == "超級VIP"].head(10)

欄位     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話    VIP
68  客戶_69  男  38  加拿大  304.0  2020-03-09   白金  新客戶  0984210685  超級VIP
71  客戶_72  女  41   台灣  313.0  2020-03-12   白金  新客戶  0913901634  超級VIP
74  客戶_75  男  44   英國  322.0  2020-03-15   白金  新客戶  0948019327  超級VIP
77  客戶_78  女  47   日本  331.0  2020-03-18   白金  新客戶  0957289478  超級VIP
83  客戶_84  女  53  加拿大  349.0  2020-03-24   白金  新客戶  0974094325  超級VIP
86  客戶_87  男  56   台灣  358.0  2020-03-27   白金  新客戶  0931027395  超級VIP
89  客戶_90  女  59   英國  367.0  2020-03-30   白金  新客戶  0967157048  超級VIP
92  客戶_93  男  62   日本  376.0  2020-04-02   白金  新客戶  0923215734  超級VIP
95  客戶_96  女  65   美國  385.0  2020-04-05   白金  新客戶  0950347028  超級VIP
98  客戶_99  男  68  加拿大  394.0  2020-04-08   白金  新客戶  0944884953  超級VIP

In [51]:
#排序和排名

sort_results = df.sort_index(ascending=False) #ASC + DESC-
sort_results.head()

欄位       客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話     VIP
199  客戶_200  女  69   英國  697.0  2020-07-18   普通  新客戶  0951746230   普通VIP
198  客戶_199  男  68  加拿大  694.0  2020-07-17   金卡  新客戶  0972051836   普通VIP
197  客戶_198  女  67   日本  691.0  2020-07-16   白金  新客戶  0903048571   超級VIP
196  客戶_197  男  66   台灣  688.0  2020-07-15   普通  新客戶  0942184709   普通VIP
195  客戶_196  女  65   美國  685.0  2020-07-14   金卡  新客戶  0983057281   普通VIP

In [52]:
sort_results = df.sort_index(axis = 1)#欄位名子做排序
sort_results.head()

欄位     VIP   備註   國家    客戶  年齡 性別 會員等級        註冊日期   購買金額          電話
0    普通VIP  新客戶   美國  客戶_1  20  男   金卡  2020-01-01    NaN  0912345678
1    普通VIP  新客戶   台灣  客戶_2  21  女   普通  2020-01-02  103.0  0975839024
2    普通VIP  新客戶   日本  客戶_3  22  男   白金  2020-01-03  106.0  0956124879
3    普通VIP  新客戶  加拿大  客戶_4  23  女   金卡  2020-01-04  109.0  0987456123
4    普通VIP  新客戶   英國  客戶_5  24  男   普通  2020-01-05  112.0  0968321457

In [53]:
sort_results = df.sort_index(ascending=False,axis = 1)#欄位名子做排序
sort_results.head()

欄位          電話   購買金額        註冊日期 會員等級 性別  年齡    客戶   國家   備註     VIP
0   0912345678    NaN  2020-01-01   金卡  男  20  客戶_1   美國  新客戶   普通VIP
1   0975839024  103.0  2020-01-02   普通  女  21  客戶_2   台灣  新客戶   普通VIP
2   0956124879  106.0  2020-01-03   白金  男  22  客戶_3   日本  新客戶   普通VIP
3   0987456123  109.0  2020-01-04   金卡  女  23  客戶_4  加拿大  新客戶   普通VIP
4   0968321457  112.0  2020-01-05   普通  男  24  客戶_5   英國  新客戶   普通VIP

In [54]:
sort_results = df.sort_values(by = ["會員等級","性別","國家"])
sort_results.head(50)

欄位       客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話     VIP
13    客戶_14  女  33  加拿大  139.0  2020-01-14   普通  新客戶  0944010029   普通VIP
43    客戶_44  女  63  加拿大  229.0  2020-02-13   普通  新客戶  0928101723   普通VIP
73    客戶_74  女  43  加拿大  319.0  2020-03-14   普通  新客戶  0981677914   普通VIP
103  客戶_104  女  23  加拿大  409.0  2020-04-13   普通  新客戶  0968950870   普通VIP
133  客戶_134  女  53  加拿大  499.0  2020-05-13   普通  新客戶  0915236740   普通VIP
163  客戶_164  女  33  加拿大  589.0  2020-06-12   普通  新客戶  0957439812   普通VIP
193  客戶_194  女  63  加拿大  679.0  2020-07-12   普通  新客戶  0960842753   普通VIP
1      客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶  0975839024   普通VIP
31    客戶_32  女  51   台灣  193.0  2020-02-01   普通  新客戶  0951934085   普通VIP
61    客戶_62  女  31   台灣  283.0  2020-03-02   普通  新客戶  0909198374   普通VIP
91    客戶_92  女  61   台灣  373.0  2020-04-01   普通  新客戶  0908302854   普通VIP
121  客戶_122  女  41   台灣  463.0  2020-05-01   普通  新客戶  0901175439   普通VIP
151  客戶_152  女  21   台灣  553.0  2020-05-31   普通  新客戶  0943015698   普通VIP
181  客戶_182  女  51   台灣  643.0  2020-06-30   普通  新客戶  0950287391   普通VIP
7      客戶_8  女  27   日本  121.0  2020-01-08   普通  新客戶  0978012345   普通VIP
37    客戶_38  女  57   日本  211.0  2020-02-07   普通  新客戶  0914827540   普通VIP
67    客戶_68  女  37   日本  301.0  2020-03-08   普通  新客戶  0959073416   普通VIP
97    客戶_98  女  67   日本  391.0  2020-04-07   普通  新客戶  0963678542   普通VIP
127  客戶_128  女  47   日本  481.0  2020-05-07   普通  新客戶  0954762185   普通VIP
157  客戶_158  女  27   日本  571.0  2020-06-06   普通  新客戶  0962987145   普通VIP
187  客戶_188  女  57   日本  661.0  2020-07-06   普通  新客戶  0949758203   普通VIP
25    客戶_26  女  45   美國  175.0  2020-01-26   普通  新客戶  0911748236   普通VIP
55    客戶_56  女  25   美國  265.0  2020-02-25   普通  新客戶  0907762113   普通VIP
85    客戶_86  女  55   美國  355.0  2020-03-26   普通  新客戶  0989650831   普通VIP
115  客戶_116  女  35   美國  445.0  2020-04-25   普通  新客戶  0910243791   普通VIP
145  客戶_146  女  65   美國  535.0  2020-05-25   普通  新客戶  0984014562   普通VIP
175  客戶_176  女  45   美國  625.0  2020-06-24   普通  新客戶  0912034589   普通VIP
19    客戶_20  女  39   英國  157.0  2020-01-20   普通  新客戶  0952478360   普通VIP
49    客戶_50  女  69   英國  247.0  2020-02-19   普通  新客戶  0926711509   普通VIP
79    客戶_80  女  49   英國  337.0  2020-03-20   普通  新客戶  0919520380   普通VIP
109  客戶_110  女  29   英國  427.0  2020-04-19   普通  新客戶  0953607782   普通VIP
139  客戶_140  女  59   英國  517.0  2020-05-19   普通  新客戶  0980291704   普通VIP
169  客戶_170  女  39   英國  607.0  2020-06-18   普通  新客戶  0937820491   普通VIP
199  客戶_200  女  69   英國  697.0  2020-07-18   普通  新客戶  0951746230   普通VIP
28    客戶_29  男  48  加拿大  184.0  2020-01-29   普通  新客戶  0934881772   普通VIP
58    客戶_59  男  28  加拿大  274.0  2020-02-28   普通  新客戶  0924688740   普通VIP
88    客戶_89  男  58  加拿大  364.0  2020-03-29   普通  新客戶  0946703284   普通VIP
118  客戶_119  男  38  加拿大  454.0  2020-04-28   普通  新客戶  0942985060   普通VIP
148  客戶_149  男  68  加拿大  544.0  2020-05-28   普通  新客戶  0964721923   普通VIP
178  客戶_179  男  48  加拿大  634.0  2020-06-27   普通  新客戶  0942067395   普通VIP
16    客戶_17  男  36   台灣  148.0  2020-01-17   普通  新客戶  0963045299   普通VIP
46    客戶_47  男  66   台灣  238.0  2020-02-16   普通  新客戶  0971357998   普通VIP
76    客戶_77  男  46   台灣  328.0  2020-03-17   普通  新客戶  0900563824   普通VIP
106  客戶_107  男  26   台灣  418.0  2020-04-16   普通  新客戶  0941682504   普通VIP
136  客戶_137  男  56   台灣  508.0  2020-05-16   普通  新客戶  0971587934   普通VIP
166  客戶_167  男  36   台灣  598.0  2020-06-15   普通  新客戶  0979845620   普通VIP
196  客戶_197  男  66   台灣  688.0  2020-07-15   普通  新客戶  0942184709   普通VIP
22    客戶_23  男  42   日本  166.0  2020-01-23   普通  新客戶  0979105673   普通VIP
52    客戶_53  男  22   日本  256.0  2020-02-22   普通  新客戶  0954024975   普通VIP
82    客戶_83  男  52   日本  346.0  2020-03-23   普通  新客戶  0920687193   普通VIP

In [55]:
df["rank"] = df["購買金額"].rank(ascending=False)
df.head(10)

欄位     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話     VIP   rank
0    客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶  0912345678   普通VIP    NaN
1    客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶  0975839024   普通VIP  180.0
2    客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879   普通VIP  179.0
3    客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123   普通VIP  178.0
4    客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457   普通VIP  177.0
5    客戶_6  女  25   美國  115.0  2020-01-06   白金  新客戶  0923658741   普通VIP  176.0
6    客戶_7  男  26   台灣  118.0  2020-01-07   金卡  新客戶  0945236987   普通VIP  175.0
7    客戶_8  女  27   日本  121.0  2020-01-08   普通  新客戶  0978012345   普通VIP  174.0
8    客戶_9  男  28  加拿大  124.0  2020-01-09   白金  新客戶  0901765432   普通VIP  173.0
9   客戶_10  女  29   英國  127.0  2020-01-10   金卡  新客戶  0932887112   普通VIP  172.0

In [56]:
#檢查 index 是否有重複
print(df.index.is_unique)

print(df["電話"].is_unique)
print(df["會員等級"].is_unique)

True
True
False

In [57]:
#基礎 聚合函數 計算 (數值變數)
results = df["購買金額"].count()
print("筆數",results)

results = df["購買金額"].sum()
print("加總",results)

results = df["購買金額"].mean()
print("平均",results)

results = df["購買金額"].max()
print("最大",results)

results = df["購買金額"].min()
print("最小",results)

results = df["購買金額"].describe()
print("統計結果")
print(results)

筆數 180
加總 72000.0
平均 400.0
最大 697.0
最小 103.0
統計結果
count    180.000000
mean     400.000000
std      173.644793
min      103.000000
25%      251.500000
50%      400.000000
75%      548.500000
max      697.000000
Name: 購買金額, dtype: float64

In [58]:
#補充計算 (類別變數)
results = df["會員等級"].value_counts().sort_values()
print(results)

results = df["會員等級"].value_counts(normalize=True, dropna=False).sort_values()
print(results)

results = df["國家"].isin(["加拿大","英國"])
print(results.head())

會員等級
白金    66
金卡    67
普通    67
Name: count, dtype: int64
會員等級
白金    0.330
金卡    0.335
普通    0.335
Name: proportion, dtype: float64
0    False
1    False
2    False
3     True
4     True
Name: 國家, dtype: bool

In [59]:
results = df[df["國家"].isin(["加拿大","英國"])]
results.head()

欄位     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話     VIP   rank
3    客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123   普通VIP  178.0
4    客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457   普通VIP  177.0
8    客戶_9  男  28  加拿大  124.0  2020-01-09   白金  新客戶  0901765432   普通VIP  173.0
9   客戶_10  女  29   英國  127.0  2020-01-10   金卡  新客戶  0932887112   普通VIP  172.0
13  客戶_14  女  33  加拿大  139.0  2020-01-14   普通  新客戶  0944010029   普通VIP  169.0

In [60]:
results = df[df["購買金額"].isna()]

results.head()

欄位     客戶 性別  年齡  國家  購買金額        註冊日期 會員等級   備註          電話     VIP  rank
0    客戶_1  男  20  美國   NaN  2020-01-01   金卡  新客戶  0912345678   普通VIP   NaN
10  客戶_11  男  30  美國   NaN  2020-01-11   普通  新客戶  0953745890   普通VIP   NaN
20  客戶_21  男  40  美國   NaN  2020-01-21   白金  新客戶  0917435892   普通VIP   NaN
30  客戶_31  男  50  美國   NaN  2020-01-31   金卡  新客戶  0972504281   普通VIP   NaN
40  客戶_41  男  60  美國   NaN  2020-02-10   普通  新客戶  0982175006   普通VIP   NaN

In [61]:
# =================== 小測驗 ===============================


import pandas as pd

data = {
    '姓名': ['小明', '小華', '小美', '小強', '小美芳', '小陳', '小李', '小趙', '小王', '小張'],
    '性別': ['男', '男', '女', '男', '女', '男', '男', '女', '男', '女'],
    '年齡': [15, 16, 15, 17, 16, 15, 17, 16, 15, 17],
    '身高': [170, 165, 160, 175, 158, 168, 180, 162, 172, 169],  # 單位：公分
    '體重': [60, 58, 50, 75, 52, 65, 75, 81, 65, 65]           # 單位：公斤
}

df = pd.DataFrame(data)
df.head()


# 題目 1：計算 BMI 並新增 BMI 欄位

# 公式 : BMI = 體重 / ( 身高 / 100 ) ** 2

# 題目 2：塞選男性過重學生 BMI >= 24

# 題目 3：依照性別與身高做排序 升序

# 題目 4：請統計各年齡數量

# 題目 5：請統計最高最低身高與平均身高

    姓名 性別  年齡   身高  體重
0   小明  男  15  170  60
1   小華  男  16  165  58
2   小美  女  15  160  50
3   小強  男  17  175  75
4  小美芳  女  16  158  52

In [62]:
#1
df["BMI"] = df.apply(lambda row : row["體重"] / (row["身高"] / 100)**2 ,axis = 1)

df.head()

    姓名 性別  年齡   身高  體重        BMI
0   小明  男  15  170  60  20.761246
1   小華  男  16  165  58  21.303949
2   小美  女  15  160  50  19.531250
3   小強  男  17  175  75  24.489796
4  小美芳  女  16  158  52  20.829995

In [63]:
#2
results = df[(df["BMI"]>= 24) & (df["性別"] =="男")]
results.head()

   姓名 性別  年齡   身高  體重        BMI
3  小強  男  17  175  75  24.489796

In [68]:
#3 ascending= False 遞減
sort_results = df.sort_values(by = ["性別","身高"])
sort_results.head(10)

    姓名 性別  年齡   身高  體重        BMI
4  小美芳  女  16  158  52  20.829995
2   小美  女  15  160  50  19.531250
7   小趙  女  16  162  81  30.864198
9   小張  女  17  169  65  22.758307
1   小華  男  16  165  58  21.303949
5   小陳  男  15  168  65  23.030045
0   小明  男  15  170  60  20.761246
8   小王  男  15  172  65  21.971336
3   小強  男  17  175  75  24.489796
6   小李  男  17  180  75  23.148148

In [65]:
#4
results = df["年齡"].value_counts()
print(results)

年齡
15    4
16    3
17    3
Name: count, dtype: int64

In [66]:
#5
results = df["身高"].max()
print("最大",results)

results = df["身高"].min()
print("最小",results)

results = df["身高"].mean()
print("平均",results)

最大 180
最小 158
平均 167.9