In [86]:
import pandas as pd

In [87]:
sr = pd.Series([60,81,100,73,50,66])
print(sr)

0     60
1     81
2    100
3     73
4     50
5     66
dtype: int64

In [88]:
indexs = sr.index
print(indexs)

values = sr.values
print(values)

RangeIndex(start=0, stop=6, step=1)
[ 60  81 100  73  50  66]

In [89]:
sr = pd.Series([60,90,55,70,30,None],index =["Sofia","Jack","Peter","Dan","Rita","Steven"])
print(sr)

Sofia     60.0
Jack      90.0
Peter     55.0
Dan       70.0
Rita      30.0
Steven     NaN
dtype: float64

In [90]:
index = sr.index
print("抓取名子",index)

抓取名子 Index(['Sofia', 'Jack', 'Peter', 'Dan', 'Rita', 'Steven'], dtype='object')

In [91]:
result = sr[sr>=60]
print("及格名單")
print(result)

及格名單
Sofia    60.0
Jack     90.0
Dan      70.0
dtype: float64

In [92]:
results = sr + 10
print("加分結果")
print(results)

results = sr - 10
print("扣分結果")
print(results)

results = sr * 1.1
print("乘10%結果")
print(results)

results = sr / 2
print("除2結果")
print(results)

加分結果
Sofia      70.0
Jack      100.0
Peter      65.0
Dan        80.0
Rita       40.0
Steven      NaN
dtype: float64
扣分結果
Sofia     50.0
Jack      80.0
Peter     45.0
Dan       60.0
Rita      20.0
Steven     NaN
dtype: float64
乘10%結果
Sofia     66.0
Jack      99.0
Peter     60.5
Dan       77.0
Rita      33.0
Steven     NaN
dtype: float64
除2結果
Sofia     30.0
Jack      45.0
Peter     27.5
Dan       35.0
Rita      15.0
Steven     NaN
dtype: float64

In [93]:
if "Sofia"  in sr:
    print("Sofia存在")
if "Sofia" not in sr:
    print("Sofia不存在")

Sofia存在

In [94]:
print("判斷誰有空值")
isNull = pd.isnull(sr)
print(isNull)

print("判斷誰沒有空值")
isNotNull = pd.notnull(sr)
print(isNotNull)

isNull = sr.isnull()
print(isNull)

判斷誰有空值
Sofia     False
Jack      False
Peter     False
Dan       False
Rita      False
Steven     True
dtype: bool
判斷誰沒有空值
Sofia      True
Jack       True
Peter      True
Dan        True
Rita       True
Steven    False
dtype: bool
Sofia     False
Jack      False
Peter     False
Dan       False
Rita      False
Steven     True
dtype: bool

In [95]:
sr2 = pd.Series([49,80],index = ["Grace","Kity"])
sr3 = pd.Series([30,95],index = ["Grace","Kity"])

sr4 = sr2 + sr3
print(sr4)

sr4 = sr2 - sr3
print(sr4)

sr4 = sr2 * sr3
print(sr4)

sr4 = sr2 / sr3
print(sr4)

Grace     79
Kity     175
dtype: int64
Grace    19
Kity    -15
dtype: int64
Grace    1470
Kity     7600
dtype: int64
Grace    1.633333
Kity     0.842105
dtype: float64

In [96]:
sr.name = " 分數"
sr.index.name ="姓名"
print("設定名稱後的sr:")
print(sr)

設定名稱後的sr:
姓名
Sofia     60.0
Jack      90.0
Peter     55.0
Dan       70.0
Rita      30.0
Steven     NaN
Name:  分數, dtype: float64

In [97]:
print("Rita與Steven的分數:")
print(sr.loc[["Rita","Steven"]])
print()

Rita與Steven的分數:
姓名
Rita      30.0
Steven     NaN
Name:  分數, dtype: float64

In [98]:
print("第一筆和第三筆的資料:")
print(sr.iloc[[0,2]])

第一筆和第三筆的資料:
姓名
Sofia    60.0
Peter    55.0
Name:  分數, dtype: float64

In [99]:
print("第一筆到第四筆:")
print(sr.iloc[1:5])#range原理

第一筆到第四筆:
姓名
Jack     90.0
Peter    55.0
Dan      70.0
Rita     30.0
Name:  分數, dtype: float64

In [100]:
def grade(score):

    if pd.isnull(score):
        return "缺考"
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    elif score >= 60:
        return "D"
    elif score < 60:
        return "F"
results = sr.map(grade)
print(results)

results = sr.map(lambda score : "及格" if score >= 60    else "不及格")
print(results)

姓名
Sofia      D
Jack       A
Peter      F
Dan        C
Rita       F
Steven    缺考
Name:  分數, dtype: object
姓名
Sofia      及格
Jack       及格
Peter     不及格
Dan        及格
Rita      不及格
Steven    不及格
Name:  分數, dtype: object

In [101]:
results = sr.apply(lambda x:100 if (x*1.1+5)>100 else x*1.3+5)
print(results)

姓名
Sofia      83.0
Jack      100.0
Peter      76.5
Dan        96.0
Rita       44.0
Steven      NaN
Name:  分數, dtype: float64

In [102]:
#統計方式
print("描述性統計")
print(sr.describe())

描述性統計
count     5.000000
mean     61.000000
std      21.908902
min      30.000000
25%      55.000000
50%      60.000000
75%      70.000000
max      90.000000
Name:  分數, dtype: float64

In [103]:
print("依照分數排序(遞增)")
print(sr.sort_values())
print()

print("依照人名排序(遞增)")
print(sr.sort_index())
print()

print("重新設定索引")
print(sr.reset_index())
print()

依照分數排序(遞增)
姓名
Rita      30.0
Peter     55.0
Sofia     60.0
Dan       70.0
Jack      90.0
Steven     NaN
Name:  分數, dtype: float64

依照人名排序(遞增)
姓名
Dan       70.0
Jack      90.0
Peter     55.0
Rita      30.0
Sofia     60.0
Steven     NaN
Name:  分數, dtype: float64

重新設定索引
       姓名    分數
0   Sofia  60.0
1    Jack  90.0
2   Peter  55.0
3     Dan  70.0
4    Rita  30.0
5  Steven   NaN

In [104]:
#去除空值
results = sr.dropna()
print(results)

姓名
Sofia    60.0
Jack     90.0
Peter    55.0
Dan      70.0
Rita     30.0
Name:  分數, dtype: float64

In [105]:
#轉型態

results = sr.dropna().astype(int)
print(results)

results = sr.dropna().astype(str)
print(results)

results = sr.dropna().astype(int).astype(str)
print(results)

姓名
Sofia    60
Jack     90
Peter    55
Dan      70
Rita     30
Name:  分數, dtype: int64
姓名
Sofia    60.0
Jack     90.0
Peter    55.0
Dan      70.0
Rita     30.0
Name:  分數, dtype: object
姓名
Sofia    60
Jack     90
Peter    55
Dan      70
Rita     30
Name:  分數, dtype: object

In [106]:
#新增與修改

print(sr)

sr['Sofia'] = 90
sr['Peter'] = 73

print(sr)

sr2 = pd.Series([8,58,73],index = ["Sofia","Jack","Steven"])#建立新sr2
print(sr2)

results = pd.concat([sr,sr2])

print(results)

姓名
Sofia     60.0
Jack      90.0
Peter     55.0
Dan       70.0
Rita      30.0
Steven     NaN
Name:  分數, dtype: float64
姓名
Sofia     90.0
Jack      90.0
Peter     73.0
Dan       70.0
Rita      30.0
Steven     NaN
Name:  分數, dtype: float64
Sofia      8
Jack      58
Steven    73
dtype: int64
Sofia     90.0
Jack      90.0
Peter     73.0
Dan       70.0
Rita      30.0
Steven     NaN
Sofia      8.0
Jack      58.0
Steven    73.0
dtype: float64

In [107]:
#groupby 

sr2 =  pd.Series([8,58,73],index = ["Sofia","Jack","Steven"])
sr3 = pd.concat([sr,sr2])
sr3 = sr3.dropna()

print(sr3.sort_values())
print(sr3.index)
results = sr3.groupby(sr3.index).mean()
print("重複索引資料以平均聚合")
print(results)

results = sr3.groupby(sr3.index).sum().astype(int)
print("重複索引資料以加總聚合")
print(results)

Sofia      8.0
Rita      30.0
Jack      58.0
Dan       70.0
Peter     73.0
Steven    73.0
Sofia     90.0
Jack      90.0
dtype: float64
Index(['Sofia', 'Jack', 'Peter', 'Dan', 'Rita', 'Sofia', 'Jack', 'Steven'], dtype='object')
重複索引資料以平均聚合
Dan       70.0
Jack      74.0
Peter     73.0
Rita      30.0
Sofia     49.0
Steven    73.0
dtype: float64
重複索引資料以加總聚合
Dan        70
Jack      148
Peter      73
Rita       30
Sofia      98
Steven     73
dtype: int64

In [108]:
score_data = pd.Series([60,81,100,73,50,None],index = ["小明","小花","麗麗","博明","詩涵","俊雅"])
print(score_data)

#1
print(1)
print(score_data.iloc[1:4])

#2
print(2)
print(score_data.map(lambda score :  "及格" if score >=60 else "不及格"  ))

#3
print(3)
print(score_data.apply(lambda x : 100 if x*1.1 +5 >=100 else x*1.1 +5))

#4

score_data2 = pd.Series([80],index = ["小林"])
print(4)
print(pd.concat([score_data,score_data2]))

#5
print(5)
score_data_1 = pd.Series([60, 81, 100, 73, 50, None], index=['小明', '小花', '麗麗', '博明', '師函', '俊雅'])
score_data_2 = pd.Series([88, 80, 89, 68], index=['小明', '師函', '博明', '麗麗']) 

results = pd.concat([score_data_1,score_data_2])
results = results.dropna() 

print(results)

print(results.groupby(results.index).sum().astype(int))

小明     60.0
小花     81.0
麗麗    100.0
博明     73.0
詩涵     50.0
俊雅      NaN
dtype: float64
1
小花     81.0
麗麗    100.0
博明     73.0
dtype: float64
2
小明     及格
小花     及格
麗麗     及格
博明     及格
詩涵    不及格
俊雅    不及格
dtype: object
3
小明     71.0
小花     94.1
麗麗    100.0
博明     85.3
詩涵     60.0
俊雅      NaN
dtype: float64
4
小明     60.0
小花     81.0
麗麗    100.0
博明     73.0
詩涵     50.0
俊雅      NaN
小林     80.0
dtype: float64
5
小明     60.0
小花     81.0
麗麗    100.0
博明     73.0
師函     50.0
小明     88.0
師函     80.0
博明     89.0
麗麗     68.0
dtype: float64
博明    162
小明    148
小花     81
師函    130
麗麗    168
dtype: int64

In [109]:
data = {
        'Customer':  ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Gina', 'Helen', 'Ivan', 'Julia','Kevin', 'Laura', 'Mike', 'Nina', 'Oscar', 'Pam', 'Quentin', 'Rachel', 'Steve', 'Tina'],
        'Gender': ['Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female','Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
        'Age': [25, 30, 22, 45, 28, 35, 32, 29, 40, 27, 33, 24, 50, 31, 38, 26, 41, 23, 37, 34],
        'Country':  ['USA', 'Taiwan', 'Japan', 'USA', 'Japan', 'Taiwan', 'USA', 'Japan', 'Taiwan', 'USA','Canada', 'UK', 'Germany', 'France', 'Italy', 'Spain', 'Australia', 'Brazil', 'India', 'Mexico'],
        'Purchase': [250.0, None, 300.5, 100.0, 450.0, None, 99.9, 600.3, 180.0, 300.0,350.0, 400.0, None, 220.0, 500.0, 330.0, 275.0, None, 410.0, 290.0],
        'RegistrationDate':  ['2022-01-15', '2021-11-30', '2022-05-20', '2020-07-10', '2021-03-25','2022-09-12', '2020-12-01', '2021-06-18', '2022-02-28', '2021-08-05','2020-05-15', '2021-10-22', '2022-03-19', '2020-08-30', '2021-12-12','2022-07-07', '2020-11-11', '2021-04-04', '2022-06-16', '2020-09-09'],
        'MembershipLevel': ['Gold', 'Regular', 'Platinum', 'Regular', 'Gold', 'Regular', 'Platinum', 'Gold', 'Regular', 'Platinum','Gold', 'Regular', 'Platinum', 'Regular', 'Gold', 'Regular', 'Platinum', 'Gold', 'Regular', 'Platinum']
    }
#建立 DataFrame
df = pd.DataFrame(data , index=[ i for i in range(20)])

print(df)

df.head(10)

   Customer  Gender  Age    Country  Purchase RegistrationDate MembershipLevel
0     Alice  Female   25        USA     250.0       2022-01-15            Gold
1       Bob    Male   30     Taiwan       NaN       2021-11-30         Regular
2   Charlie    Male   22      Japan     300.5       2022-05-20        Platinum
3     David    Male   45        USA     100.0       2020-07-10         Regular
4       Eva  Female   28      Japan     450.0       2021-03-25            Gold
5     Frank    Male   35     Taiwan       NaN       2022-09-12         Regular
6      Gina  Female   32        USA      99.9       2020-12-01        Platinum
7     Helen  Female   29      Japan     600.3       2021-06-18            Gold
8      Ivan    Male   40     Taiwan     180.0       2022-02-28         Regular
9     Julia  Female   27        USA     300.0       2021-08-05        Platinum
10    Kevin    Male   33     Canada     350.0       2020-05-15            Gold
11    Laura  Female   24         UK     400.0       2021-10-22         Regular
12     Mike    Male   50    Germany       NaN       2022-03-19        Platinum
13     Nina  Female   31     France     220.0       2020-08-30         Regular
14    Oscar    Male   38      Italy     500.0       2021-12-12            Gold
15      Pam  Female   26      Spain     330.0       2022-07-07         Regular
16  Quentin    Male   41  Australia     275.0       2020-11-11        Platinum
17   Rachel  Female   23     Brazil       NaN       2021-04-04            Gold
18    Steve    Male   37      India     410.0       2022-06-16         Regular
19     Tina  Female   34     Mexico     290.0       2020-09-09        Platinum

  Customer  Gender  Age Country  Purchase RegistrationDate MembershipLevel
0    Alice  Female   25     USA     250.0       2022-01-15            Gold
1      Bob    Male   30  Taiwan       NaN       2021-11-30         Regular
2  Charlie    Male   22   Japan     300.5       2022-05-20        Platinum
3    David    Male   45     USA     100.0       2020-07-10         Regular
4      Eva  Female   28   Japan     450.0       2021-03-25            Gold
5    Frank    Male   35  Taiwan       NaN       2022-09-12         Regular
6     Gina  Female   32     USA      99.9       2020-12-01        Platinum
7    Helen  Female   29   Japan     600.3       2021-06-18            Gold
8     Ivan    Male   40  Taiwan     180.0       2022-02-28         Regular
9    Julia  Female   27     USA     300.0       2021-08-05        Platinum

In [110]:
#匯入df資料

df = pd.read_csv('L5.csv', encoding='utf-8-sig')

#pd.read_excel

print(df)

df.head()

         客戶 性別  年齡   國家   購買金額        註冊日期 會員等級
0      客戶_1  男  20   美國    NaN  2020-01-01   金卡
1      客戶_2  女  21   台灣  103.0  2020-01-02   普通
2      客戶_3  男  22   日本  106.0  2020-01-03   白金
3      客戶_4  女  23  加拿大  109.0  2020-01-04   金卡
4      客戶_5  男  24   英國  112.0  2020-01-05   普通
..      ... ..  ..  ...    ...         ...  ...
195  客戶_196  女  65   美國  685.0  2020-07-14   金卡
196  客戶_197  男  66   台灣  688.0  2020-07-15   普通
197  客戶_198  女  67   日本  691.0  2020-07-16   白金
198  客戶_199  男  68  加拿大  694.0  2020-07-17   金卡
199  客戶_200  女  69   英國  697.0  2020-07-18   普通

[200 rows x 7 columns]

     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級
0  客戶_1  男  20   美國    NaN  2020-01-01   金卡
1  客戶_2  女  21   台灣  103.0  2020-01-02   普通
2  客戶_3  男  22   日本  106.0  2020-01-03   白金
3  客戶_4  女  23  加拿大  109.0  2020-01-04   金卡
4  客戶_5  男  24   英國  112.0  2020-01-05   普通

In [111]:
index = df.index
colums = df.columns

print(index)
print(colums)

#取col資料

results = df['性別']
print(results)

RangeIndex(start=0, stop=200, step=1)
Index(['客戶', '性別', '年齡', '國家', '購買金額', '註冊日期', '會員等級'], dtype='object')
0      男
1      女
2      男
3      女
4      男
      ..
195    女
196    男
197    女
198    男
199    女
Name: 性別, Length: 200, dtype: object

In [112]:
#loc與iloc再取row

results = df.iloc[0:5]

results.head(100)

     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級
0  客戶_1  男  20   美國    NaN  2020-01-01   金卡
1  客戶_2  女  21   台灣  103.0  2020-01-02   普通
2  客戶_3  男  22   日本  106.0  2020-01-03   白金
3  客戶_4  女  23  加拿大  109.0  2020-01-04   金卡
4  客戶_5  男  24   英國  112.0  2020-01-05   普通

In [113]:
#取部分獲完整loc colums

results = df.loc[:,"註冊日期"]

print(results.head(100))

results = df.loc[0:2,["客戶","購買金額"]]

print((results).head)

0     2020-01-01
1     2020-01-02
2     2020-01-03
3     2020-01-04
4     2020-01-05
         ...
95    2020-04-05
96    2020-04-06
97    2020-04-07
98    2020-04-08
99    2020-04-09
Name: 註冊日期, Length: 100, dtype: object
<bound method NDFrame.head of      客戶   購買金額
0  客戶_1    NaN
1  客戶_2  103.0
2  客戶_3  106.0>

In [114]:
#取部分獲完整iloc colums

results = df.iloc[:,2]

print(results.head())

results = df.iloc[0:2,2]

print(results.head())

results = df.iloc[[1,5],2:4]

print(results.head())

0    20
1    21
2    22
3    23
4    24
Name: 年齡, dtype: int64
0    20
1    21
Name: 年齡, dtype: int64
   年齡  國家
1  21  台灣
5  25  美國

In [115]:
df["備註"] = "新客戶"

df.head()

     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註
0  客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶
1  客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶
2  客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶
3  客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶
4  客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶

In [116]:
sr_phone = pd.Series(['0912345678','0975839024','0956124879','0987456123','0968321457','0923658741','0945236987','0978012345','0901765432','0932887112','0953745890','0910112358','0986874233','0944010029','0902758694','0939487556','0963045299','0976921447','0921385023','0952478360','0917435892','0908983734','0979105673','0983609421','0964309836','0911748236','0942675981','0904239084','0934881772','0965342917','0972504281','0951934085','0903837501','0925067812','0941743669','0931296038','0962109333','0914827540','0977850291','0906444915','0982175006','0949867132','0936538960','0928101723','0950689284','0969470377','0971357998','0988604215','0905267143','0926711509','0930448321','0940187629','0954024975','0960330861','0915983046','0907762113','0970213087','0938394505','0924688740','0980550991','0937509214','0909198374','0927832451','0916084208','0943471088','0973690850','0961132768','0959073416','0984210685','0935974102','0929124879','0913901634','0958342281','0981677914','0948019327','0933233094','0900563824','0957289478','0966145602','0919520380','0905316750','0947480065','0920687193','0974094325','0902345920','0989650831','0931027395','0952504116','0946703284','0967157048','0975820611','0908302854','0923215734','0930768142','0911987620','0950347028','0925961367','0963678542','0944884953','0912045803','0978264097','0932580327','0903129948','0968950870','0983789204','0907395801','0941682504','0917760218','0939342095','0953607782','0965843003','0906150241','0921430689','0976548137','0982721368','0910243791','0936093485','0951307914','0942985060','0969813702','0934654508','0901175439','0972860109','0987083520','0928709631','0945934826','0914301957','0954762185','0962497203','0904379850','0938045613','0988621490','0949305871','0915236740','0924472501','0959068102','0971587934','0937652048','0960798142','0980291704','0916473280','0926347815','0940705123','0958189426','0935957683','0984014562','0909234879','0970805341','0964721923','0913167509','0900804263','0943015698','0927658240','0974481720','0910782934','0931475289','0956271348','0962987145','0925809123','0909471620','0938205796','0986103257','0902687913','0957439812','0945728901','0923487190','0979845620','0916574381','0960482157','0937820491','0956278910','0901842759','0981795632','0973059284','0920716345','0912034589','0934098271','0967251348','0942067395','0908791432','0978140593','0950287391','0923807456','0914705263','0938609741','0963148720','0981037465','0949758203','0901529837','0956087249','0973280456','0915784623','0932785190','0960842753','0929057134','0983057281','0942184709','0903048571','0972051836','0951746230'])

df["電話"] = sr_phone
df.head()

     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話
0  客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶  0912345678
1  客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶  0975839024
2  客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879
3  客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123
4  客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457

In [117]:

df["VIP"] = df["會員等級"] == "白金"

df["新客群"] = df["年齡"] <= 20

df.head()

     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話    VIP    新客群
0  客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶  0912345678  False   True
1  客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶  0975839024  False  False
2  客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879   True  False
3  客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123  False  False
4  客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457  False  False

In [118]:
del df ["新客群"]
del df ["VIP"]
df.head()

     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話
0  客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶  0912345678
1  客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶  0975839024
2  客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879
3  客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123
4  客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457

In [119]:
df.index.name = "流水號"

df.columns.name = "欄位"

df.head()

欄位     客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話
流水號
0    客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶  0912345678
1    客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶  0975839024
2    客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879
3    客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123
4    客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457

In [120]:
#設定 index

df.set_index('客戶',inplace = True)

df.head()

欄位   性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話
客戶
客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶  0912345678
客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶  0975839024
客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879
客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123
客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457

In [122]:
#重設 index

df.reset_index(inplace=True)

df.head()

欄位  index    客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話
0       0  客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶  0912345678
1       1  客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶  0975839024
2       2  客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879
3       3  客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123
4       4  客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457

In [124]:
#重做索引

df.index = pd.Series([ f"第{i+1}筆" for i in range(200)])

df.head()

欄位   index    客戶 性別  年齡   國家   購買金額        註冊日期 會員等級   備註          電話
第1筆      0  客戶_1  男  20   美國    NaN  2020-01-01   金卡  新客戶  0912345678
第2筆      1  客戶_2  女  21   台灣  103.0  2020-01-02   普通  新客戶  0975839024
第3筆      2  客戶_3  男  22   日本  106.0  2020-01-03   白金  新客戶  0956124879
第4筆      3  客戶_4  女  23  加拿大  109.0  2020-01-04   金卡  新客戶  0987456123
第5筆      4  客戶_5  男  24   英國  112.0  2020-01-05   普通  新客戶  0968321457