In [2]:
import pandas as pd

In [3]:
sr = pd.Series([60,81,100,73,50,66])
print(sr)

0     60
1     81
2    100
3     73
4     50
5     66
dtype: int64

In [4]:
indexs = sr.index
print(indexs)

values = sr.values
print(values)

RangeIndex(start=0, stop=6, step=1)
[ 60  81 100  73  50  66]

In [5]:
sr = pd.Series([60,90,55,70,30,None],index =["Sofia","Jack","Peter","Dan","Rita","Steven"])
print(sr)

Sofia     60.0
Jack      90.0
Peter     55.0
Dan       70.0
Rita      30.0
Steven     NaN
dtype: float64

In [6]:
index = sr.index
print("抓取名子",index)

抓取名子 Index(['Sofia', 'Jack', 'Peter', 'Dan', 'Rita', 'Steven'], dtype='object')

In [7]:
result = sr[sr>=60]
print("及格名單")
print(result)

及格名單
Sofia    60.0
Jack     90.0
Dan      70.0
dtype: float64

In [8]:
results = sr + 10
print("加分結果")
print(results)

results = sr - 10
print("扣分結果")
print(results)

results = sr * 1.1
print("乘10%結果")
print(results)

results = sr / 2
print("除2結果")
print(results)

加分結果
Sofia      70.0
Jack      100.0
Peter      65.0
Dan        80.0
Rita       40.0
Steven      NaN
dtype: float64
扣分結果
Sofia     50.0
Jack      80.0
Peter     45.0
Dan       60.0
Rita      20.0
Steven     NaN
dtype: float64
乘10%結果
Sofia     66.0
Jack      99.0
Peter     60.5
Dan       77.0
Rita      33.0
Steven     NaN
dtype: float64
除2結果
Sofia     30.0
Jack      45.0
Peter     27.5
Dan       35.0
Rita      15.0
Steven     NaN
dtype: float64

In [9]:
if "Sofia"  in sr:
    print("Sofia存在")
if "Sofia" not in sr:
    print("Sofia不存在")

Sofia存在

In [10]:
print("判斷誰有空值")
isNull = pd.isnull(sr)
print(isNull)

print("判斷誰沒有空值")
isNotNull = pd.notnull(sr)
print(isNotNull)

isNull = sr.isnull()
print(isNull)

判斷誰有空值
Sofia     False
Jack      False
Peter     False
Dan       False
Rita      False
Steven     True
dtype: bool
判斷誰沒有空值
Sofia      True
Jack       True
Peter      True
Dan        True
Rita       True
Steven    False
dtype: bool
Sofia     False
Jack      False
Peter     False
Dan       False
Rita      False
Steven     True
dtype: bool

In [11]:
sr2 = pd.Series([49,80],index = ["Grace","Kity"])
sr3 = pd.Series([30,95],index = ["Grace","Kity"])

sr4 = sr2 + sr3
print(sr4)

sr4 = sr2 - sr3
print(sr4)

sr4 = sr2 * sr3
print(sr4)

sr4 = sr2 / sr3
print(sr4)

Grace     79
Kity     175
dtype: int64
Grace    19
Kity    -15
dtype: int64
Grace    1470
Kity     7600
dtype: int64
Grace    1.633333
Kity     0.842105
dtype: float64

In [12]:
sr.name = " 分數"
sr.index.name ="姓名"
print("設定名稱後的sr:")
print(sr)

設定名稱後的sr:
姓名
Sofia     60.0
Jack      90.0
Peter     55.0
Dan       70.0
Rita      30.0
Steven     NaN
Name:  分數, dtype: float64

In [13]:
print("Rita與Steven的分數:")
print(sr.loc[["Rita","Steven"]])
print()

Rita與Steven的分數:
姓名
Rita      30.0
Steven     NaN
Name:  分數, dtype: float64

In [14]:
print("第一筆和第三筆的資料:")
print(sr.iloc[[0,2]])

第一筆和第三筆的資料:
姓名
Sofia    60.0
Peter    55.0
Name:  分數, dtype: float64

In [15]:
print("第一筆到第四筆:")
print(sr.iloc[1:5])#range原理

第一筆到第四筆:
姓名
Jack     90.0
Peter    55.0
Dan      70.0
Rita     30.0
Name:  分數, dtype: float64

In [16]:
def grade(score):

    if pd.isnull(score):
        return "缺考"
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    elif score >= 60:
        return "D"
    elif score < 60:
        return "F"
results = sr.map(grade)
print(results)

results = sr.map(lambda score : "及格" if score >= 60    else "不及格")
print(results)

姓名
Sofia      D
Jack       A
Peter      F
Dan        C
Rita       F
Steven    缺考
Name:  分數, dtype: object
姓名
Sofia      及格
Jack       及格
Peter     不及格
Dan        及格
Rita      不及格
Steven    不及格
Name:  分數, dtype: object

In [17]:
results = sr.apply(lambda x:100 if (x*1.1+5)>100 else x*1.3+5)
print(results)

姓名
Sofia      83.0
Jack      100.0
Peter      76.5
Dan        96.0
Rita       44.0
Steven      NaN
Name:  分數, dtype: float64

In [18]:
#統計方式
print("描述性統計")
print(sr.describe())

描述性統計
count     5.000000
mean     61.000000
std      21.908902
min      30.000000
25%      55.000000
50%      60.000000
75%      70.000000
max      90.000000
Name:  分數, dtype: float64

In [19]:
print("依照分數排序(遞增)")
print(sr.sort_values())
print()

print("依照人名排序(遞增)")
print(sr.sort_index())
print()

print("重新設定索引")
print(sr.reset_index())
print()

依照分數排序(遞增)
姓名
Rita      30.0
Peter     55.0
Sofia     60.0
Dan       70.0
Jack      90.0
Steven     NaN
Name:  分數, dtype: float64

依照人名排序(遞增)
姓名
Dan       70.0
Jack      90.0
Peter     55.0
Rita      30.0
Sofia     60.0
Steven     NaN
Name:  分數, dtype: float64

重新設定索引
       姓名    分數
0   Sofia  60.0
1    Jack  90.0
2   Peter  55.0
3     Dan  70.0
4    Rita  30.0
5  Steven   NaN

In [20]:
#去除空值
results = sr.dropna()
print(results)

姓名
Sofia    60.0
Jack     90.0
Peter    55.0
Dan      70.0
Rita     30.0
Name:  分數, dtype: float64

In [21]:
#轉型態

results = sr.dropna().astype(int)
print(results)

results = sr.dropna().astype(str)
print(results)

results = sr.dropna().astype(int).astype(str)
print(results)

姓名
Sofia    60
Jack     90
Peter    55
Dan      70
Rita     30
Name:  分數, dtype: int64
姓名
Sofia    60.0
Jack     90.0
Peter    55.0
Dan      70.0
Rita     30.0
Name:  分數, dtype: object
姓名
Sofia    60
Jack     90
Peter    55
Dan      70
Rita     30
Name:  分數, dtype: object

In [22]:
#新增與修改

print(sr)

sr['Sofia'] = 90
sr['Peter'] = 73

print(sr)

sr2 = pd.Series([8,58,73],index = ["Sofia","Jack","Steven"])#建立新sr2
print(sr2)

results = pd.concat([sr,sr2])

print(results)

姓名
Sofia     60.0
Jack      90.0
Peter     55.0
Dan       70.0
Rita      30.0
Steven     NaN
Name:  分數, dtype: float64
姓名
Sofia     90.0
Jack      90.0
Peter     73.0
Dan       70.0
Rita      30.0
Steven     NaN
Name:  分數, dtype: float64
Sofia      8
Jack      58
Steven    73
dtype: int64
Sofia     90.0
Jack      90.0
Peter     73.0
Dan       70.0
Rita      30.0
Steven     NaN
Sofia      8.0
Jack      58.0
Steven    73.0
dtype: float64

In [23]:
#groupby 

sr2 =  pd.Series([8,58,73],index = ["Sofia","Jack","Steven"])
sr3 = pd.concat([sr,sr2])
sr3 = sr3.dropna()

print(sr3.sort_values())
print(sr3.index)
results = sr3.groupby(sr3.index).mean()
print("重複索引資料以平均聚合")
print(results)

results = sr3.groupby(sr3.index).sum().astype(int)
print("重複索引資料以加總聚合")
print(results)

Sofia      8.0
Rita      30.0
Jack      58.0
Dan       70.0
Peter     73.0
Steven    73.0
Sofia     90.0
Jack      90.0
dtype: float64
Index(['Sofia', 'Jack', 'Peter', 'Dan', 'Rita', 'Sofia', 'Jack', 'Steven'], dtype='object')
重複索引資料以平均聚合
Dan       70.0
Jack      74.0
Peter     73.0
Rita      30.0
Sofia     49.0
Steven    73.0
dtype: float64
重複索引資料以加總聚合
Dan        70
Jack      148
Peter      73
Rita       30
Sofia      98
Steven     73
dtype: int64

In [24]:
score_data = pd.Series([60,81,100,73,50,None],index = ["小明","小花","麗麗","博明","詩涵","俊雅"])
print(score_data)

#1
print(1)
print(score_data.iloc[1:4])

#2
print(2)
print(score_data.map(lambda score :  "及格" if score >=60 else "不及格"  ))

#3
print(3)
print(score_data.apply(lambda x : 100 if x*1.1 +5 >=100 else x*1.1 +5))

#4

score_data2 = pd.Series([80],index = ["小林"])
print(4)
print(pd.concat([score_data,score_data2]))

#5
print(5)
score_data_1 = pd.Series([60, 81, 100, 73, 50, None], index=['小明', '小花', '麗麗', '博明', '師函', '俊雅'])
score_data_2 = pd.Series([88, 80, 89, 68], index=['小明', '師函', '博明', '麗麗']) 

results = pd.concat([score_data_1,score_data_2])
results = results.dropna() 

print(results)

print(results.groupby(results.index).sum().astype(int))

小明     60.0
小花     81.0
麗麗    100.0
博明     73.0
詩涵     50.0
俊雅      NaN
dtype: float64
1
小花     81.0
麗麗    100.0
博明     73.0
dtype: float64
2
小明     及格
小花     及格
麗麗     及格
博明     及格
詩涵    不及格
俊雅    不及格
dtype: object
3
小明     71.0
小花     94.1
麗麗    100.0
博明     85.3
詩涵     60.0
俊雅      NaN
dtype: float64
4
小明     60.0
小花     81.0
麗麗    100.0
博明     73.0
詩涵     50.0
俊雅      NaN
小林     80.0
dtype: float64
5
小明     60.0
小花     81.0
麗麗    100.0
博明     73.0
師函     50.0
小明     88.0
師函     80.0
博明     89.0
麗麗     68.0
dtype: float64
博明    162
小明    148
小花     81
師函    130
麗麗    168
dtype: int64