In [114]:
#UBIKE 網站
# https://www.youbike.com.tw/region/main/stations/list/

import requests
import pandas as pd

url = "https://apis.youbike.com.tw/json/area-all.json"

response = requests.get(url)

if response.status_code == 200:
    data = response.json()
data[0]

{'_id': '5cb57c0c083e7b18a52ba5f2',
 'country_code': '00',
 'area_code': '00',
 'area_english': 'taipei',
 'bike_code': 'A/5001',
 'station_start': '0001',
 'station_end': '0999',
 'domain': 'https://taipei.youbike.com.tw',
 'is_open': 1,
 'is_bind': 1,
 'register_card': [{'card_type': 1,
   'img': '/images/15937428565efe96085b11c.png',
   'show': [],
   'name_en': 'EasyCard',
   'name_tw': '悠遊卡',
   'name_cn': ''},
  {'card_type': 2,
   'img': '/images/15937428395efe95f7d99b4.png',
   'show': [],
   'name_en': 'iPASS',
   'name_tw': '一卡通',
   'name_cn': ''},
  {'card_type': 20,
   'img': '/images/15556659945cb9944a40908.png',
   'show': [],
   'name_en': 'APP',
   'name_tw': 'APP掃碼',
   'name_cn': ''},
  {'card_type': 22,
   'img': '/images/16171590436063e3832d1a2.jpg',
   'show': [],
   'name_en': 'LINE Pay',
   'name_tw': 'LINE Pay',
   'name_cn': ''},
  {'card_type': 23,
   'img': '/images/1620203769609258f939358.png',
   'show': [],
   'name_en': 'Easy Wallet',
   'name_tw': '悠遊付',
   'name_cn': ''}],
 'contact_phone': {'tw': '市民熱線1999轉5855 / 02-89785511(付費)',
  'en': '1999#5855 / 02-8978-5511'},
 'contact_mail': 'service-taipei@youbike.com.tw',
 'ad_phone': '--',
 'ad_mail': 'ChiayiHsieh@youbike.com.tw',
 'lat': '25.047924',
 'lng': '121.517081',
 'ride_count': 203064004,
 'member_card_count': 15860693,
 'visit_count': 34092713,
 'sort': 1,
 'updated_at': '2025-06-19 22:05:34',
 'created_at': '2019-04-16 14:54:04',
 'type': 1,
 'area_district': '台北市',
 'service_phone': '02-8978-8822',
 'contact_phone_2': {'tw': '02-8978-8822', 'en': '1999 / 02-8978-8822'},
 'ride_count2': 184472140,
 'lat2': '25.0173453',
 'lng2': '121.5375631',
 'bike_type': ['2', '3'],
 'area_code_2': '01',
 'country_name_tw': '台灣',
 'country_name_cn': '',
 'country_name_en': 'Taiwan',
 'area_name_tw': '台北市',
 'area_name_cn': '',
 'area_name_en': 'Taipei City'}

In [115]:
df = pd.DataFrame(data)

df.head(100)

,_id,country_code,area_code,area_english,bike_code,station_start,station_end,domain,is_open,is_bind,...,lat2,lng2,bike_type,area_code_2,country_name_tw,country_name_cn,country_name_en,area_name_tw,area_name_cn,area_name_en
0,5cb57c0c083e7b18a52ba5f2,00,00,taipei,A/5001,0001,0999,https://taipei.youbike.com.tw,1,1,...,25.0173453,121.5375631,"[2, 3]",01,台灣,,Taiwan,台北市,,Taipei City
1,5cb57c0c083e7b18a52ba5f4,00,05,ntpc,F/5002,1001,1999,https://ntpc.youbike.com.tw,1,1,...,25.0215339197085,121.4568090197085,"[2, 3]",02,台灣,,Taiwan,新北市,,New Taipei City
2,5cb57c0c083e7b18a52ba5f5,00,07,tycg,H/5003,2001,2999,https://tycg.youbike.com.tw,1,1,...,24.953671,121.225783,"[2, 3]",03,台灣,,Taiwan,桃園市,,Taoyuan City
3,62ac48d85fc310282536ff13,00,0B,hsinchu,Y/5005,0501001,0599999,https://www.youbike.com.tw/region/main/,1,1,...,24.826917615712,121.01290295049,"[2, 3]",05,台灣,,Taiwan,新竹縣,,Hsinchu County
4,5b4330e22ef72c09c204b382,00,09,hccg,J/5004,6101,6299,https://hccg.youbike.com.tw,1,1,...,24.801815,120.971459,"[2, 3]",04,台灣,,Taiwan,新竹市,,Hsinchu City
5,5cb57c0c083e7b18a52ba5f9,00,10,sipa,S/5082,9601,9615,https://sipa.youbike.com.tw,1,1,...,24.781830,121.005074,"[2, 3]",82,台灣,,Taiwan,新竹科學工業園區,,Hsinchu Science Park
6,5cb57c0c083e7b18a52ba5f6,00,0A,miaoli,K/5007,6601,6999,https://miaoli.youbike.com.tw,1,1,...,24.5648599,120.8185503,"[2, 3]",07,台灣,,Taiwan,苗栗縣,,Miaoli County
7,5cb57c0c083e7b18a52ba5f3,00,01,taichung,B/5006,3001,3999,https://i.youbike.com.tw,1,1,...,24.154712,120.664265,"[2, 3]",06,台灣,,Taiwan,台中市,,Taichung City
8,6674e508cd0251893008d7f4,00,11,cyhg,Y/5011,1101001,1199999,https://www.youbike.com.tw/region/cyhg,1,1,...,23.45923583240034,120.29279014502468,"[2, 3]",11,台灣,,Taiwan,嘉義縣,,Chiayi County
9,5fc056a9083e7b29257954e5,00,08,chiayi,Y/5010,8001,8888,https://chiayi.youbike.com.tw,1,1,...,23.4797837,120.4397206,"[2, 3]",10,台灣,,Taiwan,嘉義市,,Chiayi City
10,63f426c7e7c85057523d1b42,00,13,tainan,Y/5013,1301001,1399999,https://www.youbike.com.tw/region/tainan,1,1,...,22.99230083082,120.18509419659,"[2, 3]",13,台灣,,Taiwan,臺南市,,Tainan City
11,5ec5dcfa1b99457a7a6247c3,00,12,Kaohsiung,Y/5012,5001,5999,https://kcg.youbike.com.tw,1,1,...,22.631442,120.301890,"[2, 3]",12,台灣,,Taiwan,高雄市,,Kaohsiung City
12,63c4af5eea9cb236dc2a5cc4,00,14,pthg,Y/5014,1401001,1499999,https://www.youbike.com.tw/region/pthg/,1,1,...,22.683036253664,120.48790854724,"[2, 3]",14,台灣,,Taiwan,屏東縣,,Pingtung County
13,675109adb4fed7138200d643,00,15,taitung,Y/5015,1501001,1599999,https://taitung.youbike.com.tw/home,1,1,...,22.755711056126138,121.15035332587574,"[2, 3]",15,台灣,,Taiwan,臺東縣,,Taitung County

In [116]:
city_code = df[["area_code","area_code_2","area_english","area_name_tw","is_open","register_card","station_start","station_end"]]
city_code.head(100)

,area_code,area_code_2,area_english,area_name_tw,is_open,register_card,station_start,station_end
0,00,01,taipei,台北市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",0001,0999
1,05,02,ntpc,新北市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",1001,1999
2,07,03,tycg,桃園市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",2001,2999
3,0B,05,hsinchu,新竹縣,1,"[{'card_type': 1, 'img': '/images/15937428565e...",0501001,0599999
4,09,04,hccg,新竹市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",6101,6299
5,10,82,sipa,新竹科學工業園區,1,"[{'card_type': 1, 'img': '/images/15937428565e...",9601,9615
6,0A,07,miaoli,苗栗縣,1,"[{'card_type': 1, 'img': '/images/15937428565e...",6601,6999
7,01,06,taichung,台中市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",3001,3999
8,11,11,cyhg,嘉義縣,1,"[{'card_type': 1, 'img': '/images/15937428565e...",1101001,1199999
9,08,10,chiayi,嘉義市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",8001,8888
10,13,13,tainan,臺南市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",1301001,1399999
11,12,12,Kaohsiung,高雄市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",5001,5999
12,14,14,pthg,屏東縣,1,"[{'card_type': 1, 'img': '/images/15937428565e...",1401001,1499999
13,15,15,taitung,臺東縣,1,"[{'card_type': 1, 'img': '/images/15937428565e...",1501001,1599999

In [117]:
print(city_code["area_name_tw"].is_unique)
print(city_code["area_code"].is_unique)
print(city_code["area_code_2"].is_unique)

True
True
True

In [118]:
city_code = city_code.sort_values(by = ["area_code_2"])

city_code

,area_code,area_code_2,area_english,area_name_tw,is_open,register_card,station_start,station_end
0,00,01,taipei,台北市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",0001,0999
1,05,02,ntpc,新北市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",1001,1999
2,07,03,tycg,桃園市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",2001,2999
4,09,04,hccg,新竹市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",6101,6299
3,0B,05,hsinchu,新竹縣,1,"[{'card_type': 1, 'img': '/images/15937428565e...",0501001,0599999
7,01,06,taichung,台中市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",3001,3999
6,0A,07,miaoli,苗栗縣,1,"[{'card_type': 1, 'img': '/images/15937428565e...",6601,6999
9,08,10,chiayi,嘉義市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",8001,8888
8,11,11,cyhg,嘉義縣,1,"[{'card_type': 1, 'img': '/images/15937428565e...",1101001,1199999
11,12,12,Kaohsiung,高雄市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",5001,5999
10,13,13,tainan,臺南市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",1301001,1399999
12,14,14,pthg,屏東縣,1,"[{'card_type': 1, 'img': '/images/15937428565e...",1401001,1499999
13,15,15,taitung,臺東縣,1,"[{'card_type': 1, 'img': '/images/15937428565e...",1501001,1599999
5,10,82,sipa,新竹科學工業園區,1,"[{'card_type': 1, 'img': '/images/15937428565e...",9601,9615

In [119]:
register_card_df = df[["area_code","area_code_2","area_name_tw","register_card"]]
register_card_df.head(100)

,area_code,area_code_2,area_name_tw,register_card
0,00,01,台北市,"[{'card_type': 1, 'img': '/images/15937428565e..."
1,05,02,新北市,"[{'card_type': 1, 'img': '/images/15937428565e..."
2,07,03,桃園市,"[{'card_type': 1, 'img': '/images/15937428565e..."
3,0B,05,新竹縣,"[{'card_type': 1, 'img': '/images/15937428565e..."
4,09,04,新竹市,"[{'card_type': 1, 'img': '/images/15937428565e..."
5,10,82,新竹科學工業園區,"[{'card_type': 1, 'img': '/images/15937428565e..."
6,0A,07,苗栗縣,"[{'card_type': 1, 'img': '/images/15937428565e..."
7,01,06,台中市,"[{'card_type': 1, 'img': '/images/15937428565e..."
8,11,11,嘉義縣,"[{'card_type': 1, 'img': '/images/15937428565e..."
9,08,10,嘉義市,"[{'card_type': 1, 'img': '/images/15937428565e..."
10,13,13,臺南市,"[{'card_type': 1, 'img': '/images/15937428565e..."
11,12,12,高雄市,"[{'card_type': 1, 'img': '/images/15937428565e..."
12,14,14,屏東縣,"[{'card_type': 1, 'img': '/images/15937428565e..."
13,15,15,臺東縣,"[{'card_type': 1, 'img': '/images/15937428565e..."

In [120]:
taipei_card = register_card_df[register_card_df["area_name_tw"] == "台北市"]
taipei_card =  taipei_card.iloc[0]
taipei_card = taipei_card["register_card"]
taipei_card

[{'card_type': 1,
  'img': '/images/15937428565efe96085b11c.png',
  'show': [],
  'name_en': 'EasyCard',
  'name_tw': '悠遊卡',
  'name_cn': ''},
 {'card_type': 2,
  'img': '/images/15937428395efe95f7d99b4.png',
  'show': [],
  'name_en': 'iPASS',
  'name_tw': '一卡通',
  'name_cn': ''},
 {'card_type': 20,
  'img': '/images/15556659945cb9944a40908.png',
  'show': [],
  'name_en': 'APP',
  'name_tw': 'APP掃碼',
  'name_cn': ''},
 {'card_type': 22,
  'img': '/images/16171590436063e3832d1a2.jpg',
  'show': [],
  'name_en': 'LINE Pay',
  'name_tw': 'LINE Pay',
  'name_cn': ''},
 {'card_type': 23,
  'img': '/images/1620203769609258f939358.png',
  'show': [],
  'name_en': 'Easy Wallet',
  'name_tw': '悠遊付',
  'name_cn': ''}]

In [121]:
taipei_card  = pd.DataFrame(taipei_card ) 
taipei_card.head(10)

,card_type,img,show,name_en,name_tw,name_cn
0,1,/images/15937428565efe96085b11c.png,[],EasyCard,悠遊卡,
1,2,/images/15937428395efe95f7d99b4.png,[],iPASS,一卡通,
2,20,/images/15556659945cb9944a40908.png,[],APP,APP掃碼,
3,22,/images/16171590436063e3832d1a2.jpg,[],LINE Pay,LINE Pay,
4,23,/images/1620203769609258f939358.png,[],Easy Wallet,悠遊付,

In [122]:
area_name_tws = city_code["area_name_tw"].unique() 
print(area_name_tws)

['台北市' '新北市' '桃園市' '新竹市' '新竹縣' '台中市' '苗栗縣' '嘉義市' '嘉義縣' '高雄市' '臺南市' '屏東縣'
 '臺東縣' '新竹科學工業園區']

In [123]:
card_table = None

for area_name_tw in area_name_tws:
    city_register_card = register_card_df[register_card_df["area_name_tw"]==area_name_tw].iloc[0]["register_card"]
    city_register_card = pd.DataFrame(city_register_card)

    print(area_name_tw,city_register_card["name_tw"].unique())

    if card_table is None :
        card_table = city_register_card
    else:
        card_table.merge(city_register_card , on = "card_type",how = "left")

card_table.head(100)

台北市 ['悠遊卡' '一卡通' 'APP掃碼' 'LINE Pay' '悠遊付']
新北市 ['悠遊卡' '一卡通' 'APP掃碼' 'LINE Pay']
桃園市 ['悠遊卡' '一卡通' 'APP掃碼' 'LINE Pay']
新竹市 ['悠遊卡' '一卡通' 'APP掃碼' 'LINE Pay']
新竹縣 ['悠遊卡' '一卡通']
台中市 ['悠遊卡' '一卡通' 'APP掃碼' 'LINE Pay']
苗栗縣 ['悠遊卡' '一卡通' 'APP掃碼' 'LINE Pay']
嘉義市 ['悠遊卡' '一卡通' 'APP掃碼' 'LINE Pay']
嘉義縣 ['悠遊卡' '一卡通' 'APP掃碼']
高雄市 ['悠遊卡' '一卡通' 'APP掃碼' 'LINE Pay']
臺南市 ['悠遊卡' '一卡通' 'APP掃碼']
屏東縣 ['悠遊卡' '一卡通' 'APP掃碼']
臺東縣 ['悠遊卡' '一卡通' 'APP掃碼']
新竹科學工業園區 ['悠遊卡' '一卡通' 'APP掃碼' 'LINE Pay']

,card_type,img,show,name_en,name_tw,name_cn
0,1,/images/15937428565efe96085b11c.png,[],EasyCard,悠遊卡,
1,2,/images/15937428395efe95f7d99b4.png,[],iPASS,一卡通,
2,20,/images/15556659945cb9944a40908.png,[],APP,APP掃碼,
3,22,/images/16171590436063e3832d1a2.jpg,[],LINE Pay,LINE Pay,
4,23,/images/1620203769609258f939358.png,[],Easy Wallet,悠遊付,

In [124]:
#查詢各縣市 ubike 站點數量

headers = {
    "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36",
    "Referer": "https://www.youbike.com.tw/",
}

url = 'https://apis.youbike.com.tw/api/front/station/count'

response = requests.get(url , headers = headers)
#response = requests.get(url)

data = []

if response.status_code == 200:
    data = response.json()
    print(data)
    if data["retMsg"] == "查詢各縣市場站數量成功" :
        data = data["retVal"]
else:
    print(f"HTTP {response.status_code}:{response}")
data = pd.DataFrame(data)
data.head()

{'retCode': 1, 'retMsg': '查詢各縣市場站數量成功', 'retVal': [{'area_code': '10', 'yb1': 0, 'yb2': 41, 'total': 41}, {'area_code': '11', 'yb1': 0, 'yb2': 130, 'total': 130}, {'area_code': '07', 'yb1': 0, 'yb2': 573, 'total': 573}, {'area_code': '05', 'yb1': 0, 'yb2': 1443, 'total': 1443}, {'area_code': '0B', 'yb1': 0, 'yb2': 164, 'total': 164}, {'area_code': '00', 'yb1': 0, 'yb2': 1604, 'total': 1604}, {'area_code': '0A', 'yb1': 0, 'yb2': 194, 'total': 194}, {'area_code': '0D', 'yb1': 68, 'yb2': 0, 'total': 68}, {'area_code': '09', 'yb1': 0, 'yb2': 108, 'total': 108}, {'area_code': '01', 'yb1': 0, 'yb2': 1601, 'total': 1601}, {'area_code': '08', 'yb1': 0, 'yb2': 196, 'total': 196}, {'area_code': '14', 'yb1': 0, 'yb2': 157, 'total': 157}, {'area_code': '13', 'yb1': 0, 'yb2': 605, 'total': 605}, {'area_code': '12', 'yb1': 0, 'yb2': 1440, 'total': 1440}, {'area_code': '15', 'yb1': 0, 'yb2': 66, 'total': 66}]}

  area_code  yb1   yb2  total
0        10    0    41     41
1        11    0   130    130
2        07    0   573    573
3        05    0  1443   1443
4        0B    0   164    164

In [125]:
city_code = city_code.merge(data , on = "area_code",how = "left")

city_code.head(20)

,area_code,area_code_2,area_english,area_name_tw,is_open,register_card,station_start,station_end,yb1,yb2,total
0,00,01,taipei,台北市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",0001,0999,0,1604,1604
1,05,02,ntpc,新北市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",1001,1999,0,1443,1443
2,07,03,tycg,桃園市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",2001,2999,0,573,573
3,09,04,hccg,新竹市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",6101,6299,0,108,108
4,0B,05,hsinchu,新竹縣,1,"[{'card_type': 1, 'img': '/images/15937428565e...",0501001,0599999,0,164,164
5,01,06,taichung,台中市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",3001,3999,0,1601,1601
6,0A,07,miaoli,苗栗縣,1,"[{'card_type': 1, 'img': '/images/15937428565e...",6601,6999,0,194,194
7,08,10,chiayi,嘉義市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",8001,8888,0,196,196
8,11,11,cyhg,嘉義縣,1,"[{'card_type': 1, 'img': '/images/15937428565e...",1101001,1199999,0,130,130
9,12,12,Kaohsiung,高雄市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",5001,5999,0,1440,1440
10,13,13,tainan,臺南市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",1301001,1399999,0,605,605
11,14,14,pthg,屏東縣,1,"[{'card_type': 1, 'img': '/images/15937428565e...",1401001,1499999,0,157,157
12,15,15,taitung,臺東縣,1,"[{'card_type': 1, 'img': '/images/15937428565e...",1501001,1599999,0,66,66
13,10,82,sipa,新竹科學工業園區,1,"[{'card_type': 1, 'img': '/images/15937428565e...",9601,9615,0,41,41

In [126]:
# 查詢全台所有 ubile 站點

headers = {
    "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36",
    "Referer": "https://www.youbike.com.tw/",
}

url = 'https://apis.youbike.com.tw/json/station-yb2.json'

response = requests.get(url , headers=headers)

data = []

if response.status_code == 200:
    data = response.json()
   
else:
    print(f"HTTP {response.status_code}: {response}")

df = pd.DataFrame(data)
df.head()

,country_code,area_code,type,status,station_no,name_tw,district_tw,address_tw,name_en,district_en,...,available_spaces,available_spaces_detail,available_spaces_level,empty_spaces,forbidden_spaces,lat,lng,img,updated_at,time
0,00,00,2,1,500101001,捷運科技大樓站,大安區,復興南路二段235號前,MRT Technology Bldg. Sta.,Daan Dist.,...,3,"{'yb1': 0, 'yb2': 2, 'eyb': 1}",20,25,0,25.02605,121.5436,/images/station/default.jpg,2025-06-19 22:08:28,2025-06-19 22:08:03
1,00,00,2,1,500101002,復興南路二段273號前,大安區,復興南路二段273號西側,"No.273, Sec. 2, Fuxing S. Rd.",Daan Dist.,...,4,"{'yb1': 0, 'yb2': 4, 'eyb': 0}",40,17,0,25.02565,121.54357,/images/station/default.jpg,2025-06-19 22:07:27,2025-06-19 22:07:02
2,00,00,2,1,500101003,國北教大實小東側門,大安區,和平東路二段96巷7號,NTUE Experiment Elementary School (East),Daan Dist.,...,7,"{'yb1': 0, 'yb2': 6, 'eyb': 1}",40,21,0,25.02429,121.54124,/images/station/default.jpg,2025-06-19 22:02:28,2025-06-19 22:02:03
3,00,00,2,1,500101004,和平公園東側,大安區,和平東路二段118巷33號,Heping Park (East),Daan Dist.,...,10,"{'yb1': 0, 'yb2': 9, 'eyb': 1}",60,1,0,25.02351,121.54282,/images/station/default.jpg,2025-06-19 22:00:33,2025-06-19 22:00:04
4,00,00,2,1,500101005,辛亥復興路口西北側,大安區,復興南路二段368號,Xinhai Fuxing Rd. Intersection (Northwest),Daan Dist.,...,9,"{'yb1': 0, 'yb2': 7, 'eyb': 2}",60,7,0,25.02153,121.54299,/images/station/default.jpg,2025-06-19 22:06:28,2025-06-19 22:06:04

In [127]:
df = df.merge(city_code , on = "area_code" , how = "left" )
kaohsiung_ubike = df[df["area_code"] == "12"]
kaohsiung_ubike.head(100)

,country_code,area_code,type,status,station_no,name_tw,district_tw,address_tw,name_en,district_en,...,area_code_2,area_english,area_name_tw,is_open,register_card,station_start,station_end,yb1,yb2,total
6013,00,12,2,1,501201001,捷運美麗島站(10號出口),新興區,中山一路168號前方,KRT Formosa Boulevard Sta. (Exit 10),Xinxing Dist,...,12,Kaohsiung,高雄市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",5001,5999,0,1440,1440
6014,00,12,2,1,501201002,捷運美麗島站(2號出口),新興區,中山一路83號旁停車場前方,KRT Formosa Boulevard Sta. (Exit 2),Xinxing Dist,...,12,Kaohsiung,高雄市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",5001,5999,0,1440,1440
6015,00,12,2,1,501201003,捷運美麗島站(5號出口),新興區,中正三路179號前方,KRT Formosa Boulevard Sta. (Exit 5),Xinxing Dist,...,12,Kaohsiung,高雄市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",5001,5999,0,1440,1440
6016,00,12,2,1,501201004,七賢洛陽街口,新興區,七賢一路266號前方,Qixian Luoyang St. Intersection,Xinxing Dist,...,12,Kaohsiung,高雄市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",5001,5999,0,1440,1440
6017,00,12,2,1,501201005,中山七賢路口西南側,新興區,中山一路223號前方,Zhongshan Qixian Rd. Intersection (Southwest),Xinxing Dist,...,12,Kaohsiung,高雄市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",5001,5999,0,1440,1440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6108,00,12,2,2,501202066,武廟大順三路口,苓雅區,武廟路218號(前人行道),Wumiao Dashun 3rd Rd.,Lingya Dist,...,12,Kaohsiung,高雄市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",5001,5999,0,1440,1440
6109,00,12,2,1,501202067,福東國小,苓雅區,明德街/福壽街口(西北側),Fudong Elementary School,Lingya Dist,...,12,Kaohsiung,高雄市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",5001,5999,0,1440,1440
6110,00,12,2,1,501202068,中山四維四路口,苓雅區,中山二路455號(前人行道),Jhongshan Sihwei 4th Intersection,Lingya Dist,...,12,Kaohsiung,高雄市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",5001,5999,0,1440,1440
6111,00,12,2,1,501202069,五權國小,苓雅區,三多二路100號(左側人行道),Wuquan Elementary School,Lingya Dist,...,12,Kaohsiung,高雄市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",5001,5999,0,1440,1440
6112,00,12,2,1,501202070,民權四維三路口,苓雅區,民權一路65-67號(前人行道),Minquan Siwei 3rd Rd. Intersection,Lingya Dist,...,12,Kaohsiung,高雄市,1,"[{'card_type': 1, 'img': '/images/15937428565e...",5001,5999,0,1440,1440

In [128]:
df = df[['area_code','area_name_tw','station_no','status','name_tw','district_tw' ,'address_tw' ,'parking_spaces' , 'available_spaces' , 'empty_spaces', 'available_spaces_detail' ]]
df.head()

,area_code,area_name_tw,station_no,status,name_tw,district_tw,address_tw,parking_spaces,available_spaces,empty_spaces,available_spaces_detail
0,00,台北市,500101001,1,捷運科技大樓站,大安區,復興南路二段235號前,28,3,25,"{'yb1': 0, 'yb2': 2, 'eyb': 1}"
1,00,台北市,500101002,1,復興南路二段273號前,大安區,復興南路二段273號西側,21,4,17,"{'yb1': 0, 'yb2': 4, 'eyb': 0}"
2,00,台北市,500101003,1,國北教大實小東側門,大安區,和平東路二段96巷7號,28,7,21,"{'yb1': 0, 'yb2': 6, 'eyb': 1}"
3,00,台北市,500101004,1,和平公園東側,大安區,和平東路二段118巷33號,11,10,1,"{'yb1': 0, 'yb2': 9, 'eyb': 1}"
4,00,台北市,500101005,1,辛亥復興路口西北側,大安區,復興南路二段368號,16,9,7,"{'yb1': 0, 'yb2': 7, 'eyb': 2}"

In [129]:
df = df.rename(columns={
    "area_code": "區域代碼",
    "area_name_tw": "區域名稱",
    "station_no": "站點編號",
    "status": "狀態",
    "name_tw": "站點名稱",
    "district_tw": "行政區",
    "address_tw": "地址",
    "parking_spaces": "總車位",
    "available_spaces": "可租借車輛數",
    "empty_spaces": "空閒車位",
    "available_spaces_detail": "可用車輛明細"
})

df.head()

,區域代碼,區域名稱,站點編號,狀態,站點名稱,行政區,地址,總車位,可租借車輛數,空閒車位,可用車輛明細
0,00,台北市,500101001,1,捷運科技大樓站,大安區,復興南路二段235號前,28,3,25,"{'yb1': 0, 'yb2': 2, 'eyb': 1}"
1,00,台北市,500101002,1,復興南路二段273號前,大安區,復興南路二段273號西側,21,4,17,"{'yb1': 0, 'yb2': 4, 'eyb': 0}"
2,00,台北市,500101003,1,國北教大實小東側門,大安區,和平東路二段96巷7號,28,7,21,"{'yb1': 0, 'yb2': 6, 'eyb': 1}"
3,00,台北市,500101004,1,和平公園東側,大安區,和平東路二段118巷33號,11,10,1,"{'yb1': 0, 'yb2': 9, 'eyb': 1}"
4,00,台北市,500101005,1,辛亥復興路口西北側,大安區,復興南路二段368號,16,9,7,"{'yb1': 0, 'yb2': 7, 'eyb': 2}"

In [130]:
df[(df["區域代碼"]=="12")&(df["站點名稱"].str.contains("捷運"))]

,區域代碼,區域名稱,站點編號,狀態,站點名稱,行政區,地址,總車位,可租借車輛數,空閒車位,可用車輛明細
6013,12,高雄市,501201001,1,捷運美麗島站(10號出口),新興區,中山一路168號前方,23,4,19,"{'yb1': 0, 'yb2': 4, 'eyb': 0}"
6014,12,高雄市,501201002,1,捷運美麗島站(2號出口),新興區,中山一路83號旁停車場前方,40,14,26,"{'yb1': 0, 'yb2': 14, 'eyb': 0}"
6015,12,高雄市,501201003,1,捷運美麗島站(5號出口),新興區,中正三路179號前方,23,0,23,"{'yb1': 0, 'yb2': 0, 'eyb': 0}"
6023,12,高雄市,501201011,1,捷運信義國小站(5號出口),新興區,中正三路2號前方,22,2,20,"{'yb1': 0, 'yb2': 2, 'eyb': 0}"
6027,12,高雄市,501201015,1,捷運中央公園站(2號出口),新興區,捷運中央公園站2號出口後方,25,7,18,"{'yb1': 0, 'yb2': 7, 'eyb': 0}"
...,...,...,...,...,...,...,...,...,...,...,...
7294,12,高雄市,501219003,1,捷運大寮站(1號出口),大寮區,捷西路300號(捷運大寮站1號出口前人行道),45,0,45,"{'yb1': 0, 'yb2': 0, 'eyb': 0}"
7312,12,高雄市,501219022,1,捷運大寮機廠,大寮區,捷西路300號前,14,2,12,"{'yb1': 0, 'yb2': 2, 'eyb': 0}"
7324,12,高雄市,501220001,1,捷運青埔站(1號出口)東側,橋頭區,經武路20號東側,18,5,13,"{'yb1': 0, 'yb2': 5, 'eyb': 0}"
7331,12,高雄市,501220008,1,捷運青埔站(1號出口)西側,橋頭區,經武路20號西側,18,1,17,"{'yb1': 0, 'yb2': 1, 'eyb': 0}"
7332,12,高雄市,501220009,1,捷運橋頭糖廠站(1號出口),橋頭區,糖南路/橋南路口東北側,13,10,3,"{'yb1': 0, 'yb2': 10, 'eyb': 0}"

In [131]:
token = 'CWA-115435CF-1C9B-4BE6-BC24-F19DA3A48536'
url = f'https://opendata.cwa.gov.tw/api/v1/rest/datastore/F-C0032-001?Authorization={token}'

response = requests.get(url )

data = []

if response.status_code == 200:
    data = response.json()
    data = data['records']['location']
else:
    print(f"HTTP {response.status_code}: {response.text}")

df = pd.DataFrame(data)
df.head(100)

   locationName                                     weatherElement
0           嘉義縣  [{'elementName': 'Wx', 'time': [{'startTime': ...
1           新北市  [{'elementName': 'Wx', 'time': [{'startTime': ...
2           嘉義市  [{'elementName': 'Wx', 'time': [{'startTime': ...
3           新竹縣  [{'elementName': 'Wx', 'time': [{'startTime': ...
4           新竹市  [{'elementName': 'Wx', 'time': [{'startTime': ...
5           臺北市  [{'elementName': 'Wx', 'time': [{'startTime': ...
6           臺南市  [{'elementName': 'Wx', 'time': [{'startTime': ...
7           宜蘭縣  [{'elementName': 'Wx', 'time': [{'startTime': ...
8           苗栗縣  [{'elementName': 'Wx', 'time': [{'startTime': ...
9           雲林縣  [{'elementName': 'Wx', 'time': [{'startTime': ...
10          花蓮縣  [{'elementName': 'Wx', 'time': [{'startTime': ...
11          臺中市  [{'elementName': 'Wx', 'time': [{'startTime': ...
12          臺東縣  [{'elementName': 'Wx', 'time': [{'startTime': ...
13          桃園市  [{'elementName': 'Wx', 'time': [{'startTime': ...
14          南投縣  [{'elementName': 'Wx', 'time': [{'startTime': ...
15          高雄市  [{'elementName': 'Wx', 'time': [{'startTime': ...
16          金門縣  [{'elementName': 'Wx', 'time': [{'startTime': ...
17          屏東縣  [{'elementName': 'Wx', 'time': [{'startTime': ...
18          基隆市  [{'elementName': 'Wx', 'time': [{'startTime': ...
19          澎湖縣  [{'elementName': 'Wx', 'time': [{'startTime': ...
20          彰化縣  [{'elementName': 'Wx', 'time': [{'startTime': ...
21          連江縣  [{'elementName': 'Wx', 'time': [{'startTime': ...

In [132]:
print(df.iloc[0]['weatherElement'])
df = pd.DataFrame(df.iloc[0]['weatherElement'])
df.head(100)
#Wx（天氣描述）
#PoP（降雨機率）
#MinT（最低溫度）
#MaxT（最高溫度）
#CI（舒適度）

[{'elementName': 'Wx', 'time': [{'startTime': '2025-06-20 00:00:00', 'endTime': '2025-06-20 06:00:00', 'parameter': {'parameterName': '多雲時晴', 'parameterValue': '3'}}, {'startTime': '2025-06-20 06:00:00', 'endTime': '2025-06-20 18:00:00', 'parameter': {'parameterName': '晴時多雲', 'parameterValue': '2'}}, {'startTime': '2025-06-20 18:00:00', 'endTime': '2025-06-21 06:00:00', 'parameter': {'parameterName': '晴時多雲', 'parameterValue': '2'}}]}, {'elementName': 'PoP', 'time': [{'startTime': '2025-06-20 00:00:00', 'endTime': '2025-06-20 06:00:00', 'parameter': {'parameterName': '10', 'parameterUnit': '百分比'}}, {'startTime': '2025-06-20 06:00:00', 'endTime': '2025-06-20 18:00:00', 'parameter': {'parameterName': '20', 'parameterUnit': '百分比'}}, {'startTime': '2025-06-20 18:00:00', 'endTime': '2025-06-21 06:00:00', 'parameter': {'parameterName': '20', 'parameterUnit': '百分比'}}]}, {'elementName': 'MinT', 'time': [{'startTime': '2025-06-20 00:00:00', 'endTime': '2025-06-20 06:00:00', 'parameter': {'parameterName': '25', 'parameterUnit': 'C'}}, {'startTime': '2025-06-20 06:00:00', 'endTime': '2025-06-20 18:00:00', 'parameter': {'parameterName': '25', 'parameterUnit': 'C'}}, {'startTime': '2025-06-20 18:00:00', 'endTime': '2025-06-21 06:00:00', 'parameter': {'parameterName': '26', 'parameterUnit': 'C'}}]}, {'elementName': 'CI', 'time': [{'startTime': '2025-06-20 00:00:00', 'endTime': '2025-06-20 06:00:00', 'parameter': {'parameterName': '舒適至悶熱'}}, {'startTime': '2025-06-20 06:00:00', 'endTime': '2025-06-20 18:00:00', 'parameter': {'parameterName': '舒適至悶熱'}}, {'startTime': '2025-06-20 18:00:00', 'endTime': '2025-06-21 06:00:00', 'parameter': {'parameterName': '舒適至悶熱'}}]}, {'elementName': 'MaxT', 'time': [{'startTime': '2025-06-20 00:00:00', 'endTime': '2025-06-20 06:00:00', 'parameter': {'parameterName': '27', 'parameterUnit': 'C'}}, {'startTime': '2025-06-20 06:00:00', 'endTime': '2025-06-20 18:00:00', 'parameter': {'parameterName': '34', 'parameterUnit': 'C'}}, {'startTime': '2025-06-20 18:00:00', 'endTime': '2025-06-21 06:00:00', 'parameter': {'parameterName': '31', 'parameterUnit': 'C'}}]}]

  elementName                                               time
0          Wx  [{'startTime': '2025-06-20 00:00:00', 'endTime...
1         PoP  [{'startTime': '2025-06-20 00:00:00', 'endTime...
2        MinT  [{'startTime': '2025-06-20 00:00:00', 'endTime...
3          CI  [{'startTime': '2025-06-20 00:00:00', 'endTime...
4        MaxT  [{'startTime': '2025-06-20 00:00:00', 'endTime...